
<footer>
    <div class="section footer-section-1" data-type="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 form-newsletter">
                    <h4 class="pagex-heading text-center">Mantente al tanto de todo lo que hacemos</h4>
                    <p class="text-center">Déjanos tu correo
                    </p>
                    <div class="form-wrap">
                        <form class="pagex-form" id="subscribe-form">
                            <div class="form-row">
                                <div class="pagex-form-item form-group col-12 pagex-form-type-email">
                                    <input name="email" type="email" placeholder="Ingresa tu email aquí"
                                     
                                     class="form-control">
                                </div>
                                <input type="hidden" name="latitude" id="latitude">
                                <input type="hidden" name="longitude" id="longitude">

                                <div class="pagex-form-item form-group col-auto pagex-form-type-submit">
                                    <button class="pagex-form-submit-button">
                                        <span>Suscribirse</span>
                                    </button>
                                </div>
                            </div>
                            <div id="response-message">

                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section  footer-section-2" data-type="section">
        <div class="pagex-bc">
            <div class="pagex-bc-wrapper">
                <div class="pagex-image-bg-ov"></div>
                <div class="pagex-svg-bg">
                    <svg viewBox="0 0 1446 693" 
                    preserveAspectRatio="xMidYMin slice">
                        <lineargradient id="pakqyzv" gradientUnits="userSpaceOnUse"
                        x1="450" y1="275.1534" x2="996" y2="275.1534">
                        <stop offset="0.1158" style="stop-color:#00335C ;stop-opacity:0"></stop>
                        <stop offset="1" style="stop-color:#00338E "></stop>
                        </lineargradient>
                        <lineargradient id="oqjabzg2" gradientUnits="userSpaceOnUse" x1="594.0032" y1="884.6415" x2="327.0104" y2="312.0736">
                            <stop offset="0.1992" style="stop-color:#00335C ;stop-opacity:0"></stop>
                            <stop offset="1" style="stop-color:#00338E "></stop>
                        </lineargradient>
                        <lineargradient id="naooihs2" gradientUnits="userSpaceOnUse" x1="-441" y1="510.6931" x2="942" y2="510.6931" gradientTransform="matrix(-1 0 0 1 1005 0)">
                            <stop offset="0.1992" style="stop-color:#00335C ;stop-opacity:0"></stop>
                            <stop offset="1" style="stop-color:#00338E "></stop>
                        </lineargradient>
                        <path fill="#00335C " d="M0,189c0,0,87-79,183-14c91.9,62.2,173.8,5.6,279-47C702,8,743.1,243,1045,53c232-146,401,56,401,56v584H0V189z"></path>
                        <path fill="url(#pakqyzv)" d="M723,460c150.8,0,273-122.2,273-273c0-34-6.2-66.6-17.6-96.7C735.4,208.2,679.1,19.4,458,130c0,0-8,37.9-8,57
                        C450,337.8,572.2,460,723,460z"></path>
                        <path class="oqjabzg" d="M0,497c0,0,105.6-159.1,289-60c161,87,216.8,157.6,421,115c259-54,295,141,295,141H0L0,497z"></path>
                        <path class="naooihs" d="M1446,347c0,0-225.2-95.1-425,145C793,766,531.2,604.7,338,597c-126-5-275,96-275,96h1383V347z"></path>
                    </svg>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" data-type="row">
                <div class="col-12 col-lg-10 mb-4 mr-3">
                
                    <div class="pagex-heading my-3">soporte@megadatta.com <br>+58 (0241)
                        51355.55</div>
                    {#
                    <div class="pagex-list pagex-list-align d-flex flex-wrap pagex-list-horizontal">
                        <div class="pagex-list-item pagex-list-align">
                            <div class="pagex-list-item-icon"><svg class="svg-inline--fa fa-linkedin-in pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path fill="currentColor" d="M100.3 480H7.4V180.9h92.9V480zM53.8 140.1C24.1 140.1 0 115.5 0 85.8 0 56.1 24.1 32 53.8 32c29.7 0 53.8 24.1 53.8 53.8 0 29.7-24.1 54.3-53.8 54.3zM448 480h-92.7V334.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V480h-92.8V180.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V480z"></path>
                                </svg>
                            </div>
                        </div>
                                
                        <div class="pagex-list-item pagex-list-align">
                            <div class="pagex-list-item-icon">
                                
                                <svg class="svg-inline--fa fa-facebook-f pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512">
                                    <path fill="currentColor" d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"></path>
                                </svg>
                                
                            </div>
                        </div>
                    
                    </div>
                    #}
                    <div class="pagex-list pagex-list-align d-flex flex-wrap pagex-list-horizontal">
                        <a class="rrss-link" href="https://www.instagram.com/megadatta/" target="_blank">
                        
                        <div class="pagex-list-item pagex-list-align">
                            <div class="pagex-list-item-icon">
                                
                                    <svg class="svg-inline--fa fa-linkedin-in pagex-icon" aria-hidden="true"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250">
                                    <path fill="currentColor" d="M127.999746,23.06353 
                                    C162.177385,23.06353 166.225393,23.1936027 179.722476,23.8094161
                                    C192.20235,24.3789926 198.979853,26.4642218 203.490736,28.2166477
                                    C209.464938,30.5386501 213.729395,33.3128586 218.208268,37.7917319
                                    C222.687141,42.2706052 225.46135,46.5350617 227.782844,52.5092638
                                    C229.535778,57.0201472 231.621007,63.7976504 232.190584,76.277016
                                    C232.806397,89.7746075 232.93647,93.8226147 232.93647,128.000254
                                    C232.93647,162.177893 232.806397,166.225901 232.190584,179.722984
                                    C231.621007,192.202858 229.535778,198.980361 227.782844,203.491244
                                    C225.46135,209.465446 222.687141,213.729903 218.208268,218.208776
                                    C213.729395,222.687649 209.464938,225.461858 203.490736,227.783352
                                    C198.979853,229.536286 192.20235,231.621516 179.722476,232.191092
                                    C166.227425,232.806905 162.179418,232.936978 127.999746,232.936978
                                    C93.8200742,232.936978 89.772067,232.806905 76.277016,232.191092
                                    C63.7971424,231.621516 57.0196391,229.536286 52.5092638,227.783352
                                    C46.5345536,225.461858 42.2700971,222.687649 37.7912238,218.208776
                                    C33.3123505,213.729903 30.538142,209.465446 28.2166477,203.491244
                                    C26.4637138,198.980361 24.3784845,192.202858 23.808908,179.723492
                                    C23.1930946,166.225901 23.0630219,162.177893 23.0630219,128.000254
                                    C23.0630219,93.8226147 23.1930946,89.7746075 23.808908,76.2775241
                                    C24.3784845,63.7976504 26.4637138,57.0201472 28.2166477,52.5092638
                                    C30.538142,46.5350617 33.3123505,42.2706052 37.7912238,37.7917319
                                    C42.2700971,33.3128586 46.5345536,30.5386501 52.5092638,28.2166477
                                    C57.0196391,26.4642218 63.7971424,24.3789926 76.2765079,23.8094161
                                    C89.7740994,23.1936027 93.8221066,23.06353 127.999746,23.06353
                                    M127.999746,0 C93.2367791,0 88.8783247,0.147348072 75.2257637,0.770274749
                                    C61.601148,1.39218523 52.2968794,3.55566141 44.1546281,6.72008828
                                    C35.7374966,9.99121548 28.5992446,14.3679613 21.4833489,21.483857
                                    C14.3674532,28.5997527 9.99070739,35.7380046 6.71958019,44.1551362
                                    C3.55515331,52.2973875 1.39167714,61.6016561 0.769766653,75.2262718
                                    C0.146839975,88.8783247 0,93.2372872 0,128.000254 C0,162.763221
                                    0.146839975,167.122183 0.769766653,180.774236 C1.39167714,194.398852
                                    3.55515331,203.703121 6.71958019,211.845372 C9.99070739,220.261995
                                    14.3674532,227.400755 21.4833489,234.516651 C28.5992446,241.632547
                                    35.7374966,246.009293 44.1546281,249.28042 C52.2968794,252.444847 
                                    61.601148,254.608323 75.2257637,255.230233 C88.8783247,255.85316 
                                    93.2367791,256 127.999746,256 C162.762713,256 167.121675,255.85316 
                                    180.773728,255.230233 C194.398344,254.608323 203.702613,252.444847
                                    211.844864,249.28042 C220.261995,246.009293 227.400247,241.632547 
                                    234.516143,234.516651 C241.632039,227.400755 246.008785,220.262503 
                                    249.279912,211.845372 C252.444339,203.703121 254.607815,194.398852 
                                    255.229725,180.774236 C255.852652,167.122183 256,162.763221 256,128.000254 
                                    C256,93.2372872 255.852652,88.8783247 255.229725,75.2262718 
                                    C254.607815,61.6016561 252.444339,52.2973875 249.279912,44.1551362 
                                    C246.008785,35.7380046 241.632039,28.5997527 234.516143,21.483857 
                                    C227.400247,14.3679613 220.261995,9.99121548 211.844864,6.72008828 
                                    C203.702613,3.55566141 194.398344,1.39218523 180.773728,0.770274749 
                                    C167.121675,0.147348072 162.762713,0 127.999746,0 Z M127.999746,62.2703115 
                                    C91.698262,62.2703115 62.2698034,91.69877 62.2698034,128.000254 
                                    C62.2698034,164.301738 91.698262,193.730197 127.999746,193.730197 
                                    C164.30123,193.730197 193.729689,164.301738 193.729689,128.000254 
                                    C193.729689,91.69877 164.30123,62.2703115 127.999746,62.2703115 Z 
                                    M127.999746,170.667175 C104.435741,170.667175 85.3328252,151.564259 
                                    85.3328252,128.000254 C85.3328252,104.436249 104.435741,85.3333333 
                                    127.999746,85.3333333 C151.563751,85.3333333 170.666667,104.436249 
                                    170.666667,128.000254 C170.666667,151.564259 151.563751,170.667175 
                                    127.999746,170.667175 Z M211.686338,59.6734287 C211.686338,68.1566129 
                                    204.809755,75.0337031 196.326571,75.0337031 C187.843387,75.0337031 
                                    180.966297,68.1566129 180.966297,59.6734287 C180.966297,51.1902445 
                                    187.843387,44.3136624 196.326571,44.3136624 C204.809755,44.3136624 
                                    211.686338,51.1902445 211.686338,59.6734287 Z" 
                                    ></path>
                                    </svg>
                                
                            </div>
                            <div class="pagex-list-item-wrapper">
                                <div class="pagex-list-item-title pagex-lang-str"></div>
                            </div>
                        </div>
                    </a>
                        <div class="pagex-list-divider"></div>
                            <a class="rrss-link" href="https://www.facebook.com/Megadatta-CA-2125243264458874" target="_blank">
                        
                                <div class="pagex-list-item pagex-list-align">
                                    <div class="pagex-list-item-icon">
                                    
                                            <svg class="svg-inline--fa fa-facebook-f pagex-icon" aria-hidden="true"
                                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512">
                                            <path fill="currentColor" d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"></path>
                                            </svg>
                                    
                                    </div>
                                    <div class="pagex-list-item-wrapper">
                                        <div class="pagex-list-item-title pagex-lang-str"></div>
                                    </div>
                                </div>
                            </a>
                                
                                
                               
                                
                                
                            </div>
                </div>
                <div class="col-6 col-md footer-menu-col">
                    <h6 class="fmc-pagex-heading">Megadatta</h6>
                    <div class="pagex-breakpoint-desktop pagex-nav-menu-dropdown mt-4">
                        <ul class="pagex-nav-menu">
                            <li class="menu-item">
                                <a href="{{'home'|page}}" class="nav-link"><span>Inicio</span></a>
                            </li>
                            <li class="menu-item">
                                <a href="{{'plan-list'|page}}" class="nav-link"><span>Nuestros planes</span></a>
                            </li>
                            <li class="menu-item">
                                <a href="{{'zones'|page}}" class="nav-link"><span>Zonas de cobertura</span></a>
                            </li>
                            <li class="menu-item">
                                <a href="{{'blog'|page}}" class="nav-link"><span>Blog</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col" data-type="column">
                    <div class="pagex-heading">Todos los derechos reservados</div>
                </div>
                <div class="col" data-type="column">
                    <div class="pagex-heading text-right">Powered By <a href="https://dictya.com">Dictya.com</a> </div>
                </div>
            </div>
        </div>
    </div>
</footer>