

<div id="header">
    <div class="section {{this.page.title == 'home' ? 'pagex-section-position-absolute-home-page'}}">
        <!-- TODO solo si esta en el home pagex-section-position-absolute-home-page -->
        <div class="container py-3">
            <div class="row align-items-center">
                <div class="col-auto">
                    <div class="element">
                        <a class="" href="{{'home'|page}}">
                            <img src="http://megadatta.dictya.com/storage/app/media/logo-megadatta.png"
                            width="140px" alt="">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="element">
                        <div class="element-wrap">
                            <div class="pagex-nav-menu-wrapper pagex-breakpoint-lg">
                                <div class="pagex-nav-menu-mobile-trigger-wrapper pagex-breakpoint-mobile pagex-modal-trigger">
                                    <div data-id="phhxid" class="pagex-nav-menu-mobile-trigger d-flex">
                                        <svg class="pagex-icon"><use xlink:href="#pagex-nav-menu-icon"></use></svg>
                                    </div>
                                </div>

                                <div class="pagex-nav-menu-mobile-wrapper">
                                    <div class="pagex-modal pagex-modal-offcanvas pagex-offcanvas-position-left">
                                        <div class="pagex-modal-window-wrapper">
                                            <div class="pagex-modal-window">
                                                <div class="pagex-modal-window-close">
                                                    <svg class="pagex-icon"><use xlink:href="#pagex-close-icon"></use></svg> 
                                                </div>
                                                <div class="pagex-modal-window-content">
                                                    <div class="pagex-nav-menu-dropdown pagex-nav-menu-mobile">
                                                        <ul class="pagex-nav-menu">
                                                            <li class="menu-item {{this.page.url == '/' ? 'current-menu-item'}}">
                                                                <a href="{{'home'|page}}"
                                                                    aria-current="page" class="nav-link"><span
                                                                        class="pagex-nav-item-title">Home</span></a>
                                                            
                                                            </li>
                                                            <li
                                                                class="menu-item  {{this.page.url == '/planes' ? 'current-menu-item'}} ">
                                                                <a href="{{'plan-list'|page}}"
                                                                    class="nav-link"><span
                                                                        class="pagex-nav-item-title">Nuestro planes</span></a>
                                                                
                                                            </li>
                                                            <li
                                                                class="menu-item {{this.page.url == '/zonas-de-cobertura' ? 'current-menu-item'}}">
                                                                <a href="{{'zones'|page}}"
                                                                    class="nav-link"><span
                                                                        class="pagex-nav-item-title">Zonas de Cobertura</span></a>
                                                                
                                                            </li>
                                                            <li
                                                                class="menu-item {{this.page.url == '/blog' ? 'current-menu-item'}}">
                                                                <a href="{{'blog'|page}}"
                                                                    class="nav-link"><span
                                                                        class="pagex-nav-item-title">Blog</span></a>
                                                                
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pagex-breakpoint-desktop pagex-nav-menu-horizontal">
                                    <ul class="pagex-nav-menu">
                                        <li class="menu-item menu-item-home {{this.page.url == '/' ? 'current-menu-item'}}">
                                            <a href="{{'home'|page}}" aria-current="page" class="nav-link">
                                                <span class="pagex-nav-item-title">Home</span></a>
                                        </li>
                                        <li
                                            class="menu-item menu-item-home {{this.page.url == '/planes' ? 'current-menu-item'}}">
                                            <a href="{{'plan-list'|page}}" class="nav-link">
                                                <span class="pagex-nav-item-title">Nuestros Planes</span></a>
                                        </li>
                                        <li
                                        class="menu-item menu-item-home {{this.page.url == '/zonas-de-cobertura' ? 'current-menu-item'}}">
                                            <a href="{{'zones'|page}}" class="nav-link"><span
                                                    class="pagex-nav-item-title">Zonas de Cobertura</span></a>
                                        </li>
                                        <li
                                        class="menu-item menu-item-home {{this.page.url == '/blog' ? 'current-menu-item'}}">
                                            <a href="{{'blog'|page}}" class="nav-link"><span
                                                    class="pagex-nav-item-title">Blog</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#
                <div class="col-auto ml-auto d-none align-items-center d-sm-flex" data-type="column">
                    <div class="element" data-type="button">
                        <div class="element-wrap">
                            <div class="pagex-button-wrapper">
                                <a class="pagex-button-link pagex-static-link" href="#">
                                    <div class="pagex-button button">
                                        <div class="pagex-button-icon">
                                            <svg class="svg-inline--fa fa-comment-dots pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path fill="currentColor" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32zM128 272c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128 0c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128 0c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32z"></path>
                                            </svg>
                                        </div>
                                        <div class="pagex-button-content">Contáctanos</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                #}
            </div>
        </div>
    </div>
</div>