<div class="pagex-bc">
    <div class="pagex-bc-wrapper" data-parallax="{&quot;y&quot;:100,&quot;smoothness&quot;:35}" style="transform:translate3d(0px, 54.652px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);">
        <div class="pagex-image-bg-ov">
            
        </div>
        <div class="pagex-svg-bg">
            <svg preserveAspectRatio="xMidYMin slice" viewBox="0 0 2368.9 1448.1">
                <linearGradient id="polkkj2" gradientUnits="userSpaceOnUse" x1="1040.4332" y1="-2701.6008" x2="1040.4332" y2="-3531.8176" gradientTransform="matrix(-0.9874 0.158 0.1831 1.1441 1927.9631 4366.7573)">
                    <stop offset="0" style="stop-color:#CE7132 "></stop>
                    <stop offset="1" style="stop-color:#CE5132"></stop>
                </linearGradient>
                <path class="aaxvnk" d="M2368.8,0.5c0,0-926.9,246.3-274.8,1087.5"></path>
                <path class="aaxvnk" d="M2129.8,240.5c0,0-688.7,182.2-286,711.2"></path>
                <path class="polkkj" d="M273.8,1432.2c191.4,92.4,431.2-244.2,409.6-378.9C667.2,952,428.9,900.2,479.3,739.1
                 c75.9-242.6-256.4-294.8-337.6-206.9C12.5,672-150.5,1227.3,273.8,1432.2z"></path>
            </svg>
        </div>
    </div>
</div>