description = "CSS links and others"

[viewBag]
==
<link href="images/favicon.png" rel="shortcut icon">
<!-- 
<link rel="stylesheet" id="pagex-frontend-css" href="./assets/css/pagex.css" media="all">
<link rel="stylesheet" id="home-css" href="./assets/css/home.css" media="all">
<link id="pagex-adobe-fonts" href="./Kellex_files/efn5pfe.css" rel="stylesheet">
-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    <link href="{{ [

            'assets/css/pagex.css',
            'assets/css/home.css',
            'assets/css/plans.css',
            'assets/css/zones.css',
            'assets/vendors/kellex_files/efn5pfe.css',
            'assets/vendors/bootstrapselect/bootstrap-select.min.css',
            'assets/vendors/sweetalert/sweetalert.css',
            'assets/vendors/toastr/css/toastr.min.css',
            'assets/vendors/sweetalert/sweetalert.min.js',
        ]|theme }}" rel="stylesheet">

        
        {% styles %}
        <!-- All CSS -->



    <!-- Color Palette. simple uncomment below link tag if you need any color palette -->

    <!-- <link rel="stylesheet" href="css/switcher/css/red.css"> -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link rel="icon" type="image/png" href="http://megadatta.dictya.com/storage/app/media/favicon-megadatta.png/" />

    <script src="{{ [

        'assets/js/jquery-3.3.1.min.js'

    ]|theme }}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    