description = "scripts js"

[viewBag]
==
<!-- 
<script src="./Kellex_files/parallax-scroll.js" id="parallax-scroll-js"></script>
    <script src="./assets/js/pagex.js" id="pagex-frontend-js"></script>
-->

<script src="{{ [

            'assets/vendors/kellex_files/parallax-scroll.js',
            'assets/js/pagex.js',
    
            'assets/js/bootstrap.bundle.min.js',
            'assets/vendors/bootstrapselect/bootstrap-select.min.js',
            'assets/js/service-form.js',
            'assets/vendors/toastr/js/toastr.min.js',
            'assets/vendors/sweetalert/sweetalert.min.js',
        ]|theme }}"></script>