/* home sections, features, plans */

.home-section-1 {
    padding-top: 240px;
    padding-bottom: 200px
}

.section-subtitle .pagex-heading {
    text-transform: uppercase;
    color: #fda785;
    font-size: 12px;
    letter-spacing: 3px
}

.title-part-1 .pagex-heading {
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -.4px
}

.title-part-1 {
    //margin-top: 20px;
    margin-bottom: -3px
}

.pagex-nav-menu .menu-item a, .pagex-nav-item-title{
    font-size: 16px;
    font-weight: 500;
}


.title-part-2 .pagex-heading {
    font-weight: 300;
    font-size: 35px;
    letter-spacing: -.4px
}

.section-text .pagex-heading {
    color: #969696;
    font-size: 20px
}

.section-text {
    margin: 5px 0 30px 0 !important;
    max-width: 340px
}

.button-primary {
    border-radius: 90px;
    background: linear-gradient(90deg, #CE7132 0%, #CE5132 100%)
}

.button-primary {
    padding-right: 25px;
    padding-left: 25px
}

.button-primary:hover {
    box-shadow: 0 10px 30px 0 rgb(253, 95, 83)
}

@media (min-width: 576px) {
    .button-primary {
        padding-right: 35px
    }
    .button-primary {
        padding-left: 35px
    }
    
}

@media (max-width: 576px){
    .home-section-2{
        margin-top: 100px;
    }
}
.main-image .pagex-icon-element {
    height: 100%
}

.main-image .element-wrap {
    height: 200%
}

.main-image .pagex-icon-wrapper .pagex-icon {
    width: 100%;
    height: 100%;
    font-size: 100%
}



#our-clients-row .pre-title, #posts-row .pre-title{
    text-transform: uppercase;
    color: #adadb2;
    font-size: 12px;
    letter-spacing: 3px;
}

#our-clients-row .heading-bold, #posts-row .heading-bold{
    color: #39374d;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -.4px;
}

@media (min-width: 1200px) {
    .home-section-2 {
        padding: 100px 0 0 0 !important
    }

    #product-presentation-wrapper{
        margin-top: -150px;
    }
}

@media (min-width: 1200px) {
    .cards-group {
        padding: 0 80px 0 15px !important
    }
}

.features-col .pagex-feature-item {
    padding: 35px 30px 25px;
    border-radius: 20px;
    box-shadow: 12px 7px 90px 0 rgba(110, 123, 131, 0.1);
    background: #ffffff
}

.features-col .pagex-feature-item:hover {
    box-shadow: 12px 37px 90px 0 rgba(110, 123, 131, 0.2)
}

.features-col .pagex-feature-item-title {
    font-weight: 500;
    font-size: 20px
}

.features-col .pagex-feature-item-link {
    border-width: 0px;
    padding: 0px;
    color: #cad5e6;
    background: rgba(0, 0, 0, 0)
}

.features-col .pagex-feature-item-icon {
    color: #fd7a74;
    padding: 0px
}

.features-col .pagex-feature-item-description {
    color: #818185;
    font-size: 17px;
    margin: 0 0 30px 0
}

.features-col .pagex-feature-item-icon .pagex-icon {
    width: 40px;
    height: 40px;
    font-size: 40px
}

.features-col .pagex-feature-item-title-wrapper {
    margin: 5px 0 21px 0
}

@media (min-width: 992px) {
    .features-single {
        margin: 200px 30px 0 0 !important
    }
    .features-col {
        width: 50%
    }

    .main-image {
        margin-top: -100px
    }
    
}

.home-section-3>.pagex-bc {
    overflow: visible;
    top: -100px
}

.home-section-3 {
    padding-top: 60px;
    padding-bottom: 60px
}


.ghweyu {
    fill: url(#bnjjju);
}

.ghweyw {
    fill: none;
    stroke: #EAEBEE;
    stroke-miterlimit: 10;
}

.card-plan {
    background: #ffffff;
    box-shadow: 20px 50px 70px 0 rgba(140, 30, 30, 0.1);
    transition: all .5s cubic-bezier(.77, 0, .175, 1);
    max-width: calc(100% - 30px)
}

.card-plan, .card-plan>.pagex-bc {
    border-radius: 15px
}

.card-plan:hover {
    box-shadow: 20px 50px 70px 0 rgba(140, 30, 30, 0.2)
}

.card-plan:hover {
    transform: scale(1.05);
}

.best-choice {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    #our-clients-row {
        padding-bottom: 50px;
    }

    .best-choice {
        margin-right: 30px;
    }

    .home-section-3 {
      /*  padding-top: 200px*/
    }
    .home-section-3 {
        padding-bottom: 200px
    }

    .home-section-2 {
        margin: 0  !important
    }

    .title-part-2 .pagex-heading {
        font-size: 50px
    }

    .title-part-1 .pagex-heading {
        font-size: 55px
    }
    .title-part-1 .pagex-heading {
        line-height: 55px
    }
    #our-clients-row .heading-bold, #posts-row .heading-bold{
        font-size: 50px;
    }
    #our-clients-row .page-heading-small{
        font-size: 45px;
    }

    .testimonial-body{
        font-size: 18px;
    }
    

}

@media (min-width: 992px) {
    .best-choice {
        margin-right: 20px
    }
}

@media (min-width: 1200px) {
    .best-choice {
        margin-right: 35px;
        margin-left: 30px;
        /*nuevo*/
        display: flex;
        flex-wrap: wrap;
        height: 90%;
    }
}

.plan-subtitle .pagex-heading {
    text-transform: uppercase;
    color: #adadb2;
    font-size: 10px;
    letter-spacing: 2px
}

.plan-subtitle {
    margin: 0 0 10px 0 !important
}

.best-choice .plan-price .pagex-heading {
    text-transform: uppercase;
    color: #fc6f5c;
    font-size: 60px;
}

.plan-price sup {
    position: relative;
    top: -.5em;
    font-size: 60%
}

.plan-price {
    margin: 0 10px 0 0 !important
}

.plan-price-by .pagex-heading {
    color: #d0d0d3;
    font-size: 12px
}

.plan-title .pagex-heading {
    font-weight: 400;
    letter-spacing: -.4px
}

.plan-title {
    margin: 20px 0 0 0 !important
}

.card-plan .pagex-list-item-title {
    color: #818185
}

.best-choice .pagex-list-item:hover .pagex-list-item-title {
    color: #fc6f5c
}

.best-choice .pagex-list-item-icon {
    color: #fc6f5c
}

.card-plan .pagex-list-item-icon .pagex-icon {
    width: 6px;
    height: 6px;
    font-size: 6px
}

.button-link .pagex-button-content {
    font-weight: 500;
    font-size: 14px
}

.button-link-border .pagex-button {
    border-width: 2px;
    border-radius: 90px;
}

.button-link .pagex-button {
    color: #a9b9d2;
    background: #ffffff;
    border-color: #cad5e6
}

.button-link-border .pagex-button:hover {
    color: #ffffff;
    background: #a9b9d2;
    border-color: #a9b9d2
}

.standar-choice {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
}
.pagex-button.button{
    background: #00335C;
}


.standar-choice .plan-price .pagex-heading {
    text-transform: uppercase;
    color: #39374d;
    font-size: 45px
}

.standar-choice .plan-title .pagex-heading {
    color: #5c5c5c;
}

.standar-choice .pagex-list-item-title {
    color: #818185;
    font-size: 95%
}

.standar-choice .pagex-list-item-icon {
    color: #818185
}
#posts-row{
    margin-top: 80px;
}

/* footer  */

.footer-section-1 {
    z-index: 11;
    margin: 30px 0 -220px 0 !important
}



.form-newsletter {
    background: #ffffff;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 10, 0.12);
    max-width: 750px
}

.form-newsletter {
    padding-top: 50px;
    padding-bottom: 50px
}

[data-id="p5xm26"] .pagex-heading {
    color: #a7a9b8;
    font-size: 16px;
    text-align: center
}

.form-wrap .form-control {
    border-width: 1px;
    border-radius: 90px;
    border-color: #dce5f2;
    box-shadow: 5px 10px 20px 0 rgba(0, 0, 100, .03);
    padding: 15px 25px
}

.form-wrap {
    color: #afadc4;
    max-width: 600px
}

.form-wrap .pagex-form-submit-button {
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgb(252, 90, 85) 0%, rgb(252, 137, 102) 100%);
    border-radius: 90px;
    min-height: 44px;
    font-size: 12px;
    letter-spacing: .2px
}

.form-wrap .pagex-form-submit-button, .form-wrap .pagex-form-submit-button:after {
    color: #ffffff
}

.form-wrap .pagex-form-submit-button:hover, .form-wrap .pagex-form-submit-button:hover:after {
    color: rgba(255, 255, 255, 0.82)
}

.form-wrap .pagex-form-type-submit {
    position: absolute;
    right: 7px;
    top: 39%;
    transform: translateY(-50%)
}

.form-wrap .form-group {
    margin-bottom: 0px
}

.form-wrap .pagex-form-item {
    padding: 0 0px
}

.form-wrap .form-row {
    margin-right: -0px;
    margin-left: -0px
}

.form-wrap {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto
}

.footer-section-2 {
    color: #ffffff;
    padding-top: 320px;
    padding-bottom: 60px
}

.oqjabzg {
    opacity: 0.6;
    fill: url(#oqjabzg2);
}

.naooihs {
    opacity: 0.8;
    fill: url(#naooihs2);
}

.footer-menu-col {
    margin: 0 0 50px 0 !important
}

.footer-menu-col .pagex-nav-menu .nav-link {
    color: #ffffff;
}

.fmc-pagex-heading {
    text-transform: uppercase;
    color: #ffffff;
}

.vbnki {
    fill: none;
    stroke: #EAEBEE;
    stroke-miterlimit: 10;
}

.ghweyu {
    fill: url(#bnjjju);
}

.pagex-list-item-icon {
    border-radius: 30px;
    color: #6352f5;
    background: #fff;
    padding: 10px;
}

.pagex-list-item:hover .pagex-list-item-icon {
    color: #fff;
    background: rgba(255,255,255,.3);
}
.pagex-list-divider {
    margin: 0 0 0 0;
    border-width: 0;
}

.pagex-nav-menu-mobile-trigger-wrapper{
    justify-content: flex-end;
}

.pagex-nav-menu-mobile-trigger {
    padding: 12px;
    border-radius: 90px;
    color: #fff;
    background: linear-gradient(to bottom,rgb(255,184,0) 0%,rgb(255,113,10) 100%);
}
.pagex-section-position-absolute-home-page{
    padding-top: 30px;
    padding-bottom: 30px;
}


.pagex-features-position-top .pagex-feature-item-icon{
    margin: 0 auto;
    margin-bottom: 5px;
    
}

.page-heading-small{
    font-weight: 300;
    letter-spacing: -.4px;
}

.page-secton-text{
    color: #969696;
    font-size: 18px;
}

#clients-img{
    opacity: .2;
}


#posts-wrapper .pagex-posts-item:hover{
    transform: translateY(-10px);
    box-shadow: 5px 30px 20px 0 rgb(100 123 131 / 12%);
}
#posts-wrapper .pagex-posts-item{
    background: #fff;
    box-shadow: 5px 40px 30px 0 rgb(100 123 131 / 9%);
    transition: all 0.25s cubic-bezier(.2,.1,.5,1);
    border-radius: 10px;
}
.post-thumb-img-wrapper{
    margin: 0 0 30px 0!important;
}

.post-thumb-img-wrapper .pagex-image{
    border-radius: 10px 10px 0 0;
}

.post-thumb-img-wrapper .pagex-image img{
    border-radius: 10px 10px 0 0;
    transition: .25s;
    width: 100%!important;
}
.post-date{
    border-style: solid;
    border-color: #fd7b74;
    padding: 0 0 0 30px!important;
    margin: 0 0 20px 0!important;
    border-width: 0 0 0 3px;
}

.pagex-post-data {
    color: #fd7b74;
    line-height: 100%;
}

.pagex-post-title-wrapper{
    padding: 0 30px 20px 30px!important;
}
.pagex-post-title {
    font-weight: 400;
    font-size: 20px;

}

.post-excert-wrapper{
    padding: 0 30px 20px 30px!important;
}
#posts-wrapper{
    padding-top: 50px;
}

#posts-section{
    padding-bottom: 50px;
}



.aaxvnk {
    fill: none;
    stroke: #EAEBEE;
    stroke-miterlimit: 10;
}
#posts-section .pagex-bc{
    overflow: visible;
}

.button, .added_to_cart {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 90px;
    color: #fff;
    background: #6655f3;
    min-height: 27px;
    line-height: 27px;
}

#testimonial-section{
    padding: 110px 0 90px 0!important;
}

.testimonial-column{
    box-shadow: 0 0 20px 0 rgb(110 123 131 / 12%);
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
}

#testimonial-slider{
    margin-top: -60px;
}

.testimonial-image{
    border-radius: 90px;
    border-style: solid;
    border-color: #fff;
    margin: 0 auto 0 auto!important;
    max-width: 120px;
}
.testimonial-image img{
    border-radius: 90px;
}
.testimonial-heading{
    margin: 20px 0 20px 0!important;
    color: #b2b6b8;
    text-align: center;
}

#testimonial-slider .pagex-slider-pagination {
    bottom: 30px;
}



#testimonial-slider .inner-row{
    padding: 0 0 75px 0!important;
    margin: 0 auto 0 auto!important;
    max-width: 80%;
}

#testimonial-section{
    padding-top: 80px;
    padding-bottom: 80px;
}
