#asimetric-plan-section{
    position: relative;
    margin-top: 100px;
}

#asimetric-plan-section .pagex-heading{
    color: #7d89a8;
}

#asimetric-plan-section h2.pagex-heading{
    font-size: 50px;
    color: #39374d;
}

#asimetric-plan-section .pagex-button {
    box-shadow: 0 8px 40px -5px rgb(133 113 234 / 55%);
}

#asimetric-plan-section .pagex-button-wrapper{
    margin-top: 50px;
}
.pagex-heading-presentation{
    font-size: 20px;
    line-height: 150%;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-secundary {
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(
90deg
, rgb(252, 90, 85) 0%, rgb(252, 137, 102) 100%);
    border-radius: 90px;
    min-height: 44px;
    font-size: 14px;
    letter-spacing: .2px;
    color: #fff;
    padding: 10px 35px;
}

.btn-secundary:hover {
    color:white;
}

#asimetric-plan-container{
    background: #fff;
    box-shadow: 0 55px 55px -5px rgb(9 31 67 / 10%);
    border-radius: 10px;
}

#asimetric-plan-container .pagex-feature-item-icon .pagex-icon {
    width: 35px;
    height: 35px;
    font-size: 35px;
    color: #bbc2ce;
}

#simetric-plan-section{
    position: relative;
    padding-top: 200px;
    padding-bottom: 120px;
    margin-top: -100px;
    z-index: 9;
}

#simetric-plan-section>.pagex-shape-bottom svg {
    height: 60px;
}

#simetric-plan-section h2.pagex-heading{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.subheader {
    margin-top: 15px;
    margin-bottom: 60px;
    color: rgba(255,255,255,.75);
    text-align: center;
}

#simetric-features{

}

#simetric-features .pagex-feature-item-icon .pagex-icon {
    width: 55px;
    height: 55px;
    font-size: 55px;
}
#simetric-features .pagex-feature-item-title {
    color: #fff;
}
#simetric-features .pagex-features-items {
    display: flex;
    flex-wrap: wrap;
}

#simetric-features .pagex-feature-item-icon {
    color: #fff;
}


#simetric-features .pagex-feature-item-description {
    color: rgba(255,255,255,.93);
}

@media (min-width: 1200px){
    #asimetric-plan-container {
        padding-left: 50px;
        padding-bottom: 30px;
    }
    
    #simetric-features{
        margin-left: 50px;
    }
}

@media (min-width: 992px){
    #simetric-features .pagex-feature-item {
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    #simetric-features .pagex-feature-item-wrapper {
        width: calc(100% / 2 - 0.1px);
    }

    
}

@media (min-width < 660px){
    .pagex-heading-presentation{
        margin-bottom: 20px;
    }

    
}


.plan-button-wrapper{
    align-items: flex-end;
}

.custom-select{
    border-radius: .25rem 0  0 .25rem;
    width: 120px !important;
  }

.custom-select .btn.dropdown-toggle.btn-light {
    padding: 0 !important;
    background: none;
    border: 0;
    width: 100px;
}

.form-control, .input-group {
    margin-bottom: 1rem;
}


.modal-header.gradient-megadatta-blue{
    color: #fff;
    background: rgb(0,51,92);
    background: linear-gradient(90deg, rgba(0,51,92,1) 0%, rgba(0,51,142,1) 100%);
}

.gradient-megadatta-orange{
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 15%);
    border: 0;
    color: #fff;
    background: rgb(206,113,50);
    background: linear-gradient(90deg, rgba(206,113,50,1) 0%, rgba(206,81,50,1) 100%);
}
.modal-header.gradient-megadatta-blue .close{
    color: #fff;
}

.modal-plan-container{
    //border: 1px solid #ced4da;
    //border-radius: .25rem;
}

.plan-info-wrapper{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.modal-footer .btn{
    border-width: 2px;
    border-radius: 90px;
}

#plan-list-banner{
    background-image: url(http://megadatta.dictya.com/storage/app/media/banners/planes-bg-min.png);
    background-position: center left;
}
