#zones-overlay{
    background: #081C40;
    mix-blend-mode: hard-light;
}

.city-text-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.city-text-right h2{
    margin-bottom: 20px;
}
.city-text-right h3{
    font-weight: 500;
}
.zone-button-wrapper{
    margin: 0 auto;
    color: #fff;
    background: #00335C;
    border-radius: 90px;
    cursor: pointer;
    
}
.zone-container{
    background: #F3F5F9;
    padding: 2rem;
    padding-top: 80px;
    margin-top: -50px;
    border-radius: 10px;
    transition: 0.9s;
}
.zone-container p{
    font-size: 21px;
    margin-left: 3rem;
    
}

#zones-banner{
    background-image: url(http://megadatta.dictya.com/storage/app/media/banners/zonas-bg-min.png);
    background-position: center left;
}