[ServiceForm]

[CityList]
search_parameter = "CB"
scope = "state"
type = "code"

[formSubscribe]
urlToUnsubscribe = "unsubscribe"
urlToProfile = "subscriber-profile"
geo = "enabled"
thanksMessage = "¡Muchas gracias por suscribirte!"
errorMessage = "ah ocurrido un error"

[SeoCmsPage]
==
<!DOCTYPE html>
<html lang="es">

    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    
    {% if seo_props %}

        {% partial "seo/dynamic-seo" %}

        {% else %}

        {% component 'SeoCmsPage' %}

    {% endif %}
    
    
    {% partial 'assets/headers' %}

        <style>
            body{
                font-family:futura-pt;
                font-weight:400;
                color:#39374d;
            }
    
            h1,h2,h3,h4,h5,h6{
                font-family:futura-pt;
                font-weight:700;
            }
    
            .bchjs { fill: url(#vcxewwd); }
    
            .uvvbn { fill: url(#qacwdwd); }
    
            .cbnmn { fill: url(#fdsfsdf); }
    
            .skjdfhk { fill: url(#shfgsjdhg); }
    
            .bljah {
                fill: none;
                stroke: #EAEBEE;
                stroke-miterlimit: 10;
            }
            
            .ghweyu {
                fill: url(#bnjjju);
            }

            .polkkj {
                fill: url(#polkkj2);
            }
        </style>
    </head>

    <body class="home">
        <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5fb163410863900e88c8e7fd/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
    {% partial 'main-header' %}
    {% framework extras %}
        <div id="page">

            {% page %}
            
            {% partial 'footer' %}
            
        </div>
        
        <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <symbol id="pagex-close-icon" viewBox="0 0 384 512">
                    <path fill="currentColor" d="M231.6 256l130.1-130.1c4.7-4.7 4.7-12.3 0-17l-22.6-22.6c-4.7-4.7-12.3-4.7-17 0L192 216.4 61.9 86.3c-4.7-4.7-12.3-4.7-17 0l-22.6 22.6c-4.7 4.7-4.7 12.3 0 17L152.4 256 22.3 386.1c-4.7 4.7-4.7 12.3 0 17l22.6 22.6c4.7 4.7 12.3 4.7 17 0L192 295.6l130.1 130.1c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17L231.6 256z"></path>
                </symbol>
                <symbol id="pagex-nav-menu-icon" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M491.3 235.3H20.7C9.3 235.3 0 244.6 0 256s9.3 20.7 20.7 20.7h470.6c11.4 0 20.7-9.3 20.7-20.7C512 244.6 502.7 235.3 491.3 235.3z"></path>
                    <path fill="currentColor" d="M491.3 78.4H20.7C9.3 78.4 0 87.7 0 99.1c0 11.4 9.3 20.7 20.7 20.7h470.6c11.4 0 20.7-9.3 20.7-20.7C512 87.7 502.7 78.4 491.3 78.4z"></path>
                    <path fill="currentColor" d="M491.3 392.2H20.7C9.3 392.2 0 401.5 0 412.9s9.3 20.7 20.7 20.7h470.6c11.4 0 20.7-9.3 20.7-20.7S502.7 392.2 491.3 392.2z"></path>
                </symbol>
                <symbol id="pagex-arrow-down-icon" viewBox="0 0 451.847 451.847">
                    <path fill="currentColor" d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751   c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0   c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"></path>
                </symbol>
            </defs>
        </svg>
        <div class="modal fade plan-form-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header gradient-megadatta-blue">
                        <h5 class="modal-title" id="exampleModalLabel">Solicitud de contratación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form id="service-form">
                      <div class="modal-body">
                        
                            <div class="row">
                                <div class="col">
                                    <div class="modal-plan-container" id="modal-plan-container">

                                        
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Nombre">
                                      </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lastname" placeholder="Apellido">
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email" placeholder="Email">
                                      </div>
                                </div>
                                <div class="col-md-6 col-sm-12 bootstrap-select-container">
                                    {% set phoneCodes =  ServiceForm.getPhoneCodes %}
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                        
                                            <select class="custom-select" id="country-codes" name="country_code" 
                                            data-live-search="true" >
                                              {% for codes in phoneCodes %}
                                                {% if phone|length < 2 %}
                                                    <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == '58' ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                                {% else %}
                                                    <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == phone[0] ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                                {% endif %}
                        
                                              {% endfor %}
                                              </select>
                                        </div>
                                        <input type="text" class="form-control" value="{{phone[1]}}" name="phone"
                                         placeholder="Teléfono">
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    {% set cities = CityList.getCityList() %}
                                    <select class="form-control" name="city" id="cityControl">
                                        <option value="-1">Elige un Municipio</option>
                                        {% for city in cities %}
                                        <option value="{{city.id}}">{{city.name}}</option>
                                        {% endfor %} 
                                      </select>
                                </div>
    
                                <div class="col-md-6 col-sm-12" id="zone-container">
                                    {% partial 'form/zone-list-options' %}
                                    
                                </div>
                            </div>
                           <div class="row">
                               <div class="col-md-12">
                                <div class="form-group mt-3">
                                    <textarea class="form-control" name="address" id="address" rows="3" placeholder="Escribe aquí tu direccion"></textarea>
                                  </div>
                               </div>
                           </div>

                           <div class="row">
                            <div class="col-md-12">
                             <div class="form-group">
                                 <textarea class="form-control" name="comment" id="comments" rows="3" placeholder="Sí tienes algún comentario déjalo aquí"></textarea>
                               </div>
                            </div>
                        </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary gradient-megadatta-orange">SOLICITAR</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    {% scripts %}
    
    {% partial 'assets/scripts' %}
   
    </body>
    
</html>