title = "Blog"
url = "/blog"
layout = "default"
description = "Blog page"
meta_description = "Entérate de todos nuestros servicios de primera mano"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "blog"

[SeoCmsPage]
==
<div id="main">

    {% partial 'blog/blog-banner' %}
    
    
    <div class="section" data-id="ppcsvf" data-type="section">
        <div class="container" data-id="pygbus" data-type="container">
            <div class="row" data-id="p6cp6d" data-type="row">
                <div class="col" data-id="pewt00" data-type="column">
                    <div class="element" data-id="pydpwy" data-type="posts_loop">
                        <div class="element-wrap">

                            <div class="pagex-posts-grid-layout">
                                <div class="pagex-posts-wrapper">
                                
                            
                                    
                                    {% for post in blogPosts.posts %}
                                        <div
                                            class="pagex-posts-item-wrapper post-104 post type-post status-publish format-standard has-post-thumbnail hentry category-management category-news tag-experience">
                                            <div class="pagex-posts-item">
                                                <div class="section" data-id="prswkj" data-type="section">
                                                    <div class="container  p-0" data-id="p2weo8" data-type="container">
                                                        <div class="row  no-gutters" data-id="p192jn" data-type="row">
                                                            <div class="col" data-id="p1bp9j" data-type="column">
                                                                <div class="element" data-id="poxv6d" data-type="image">
                                                                    <div class="element-wrap">
                                                                        {% set firstCategory = post.categories.first() %}
                                                                        <div class="pagex-image">
                                                                            <!-- TODO POST IMAGE AND LINK -->
                                                                            <a
                                                                                href="{{'blog-post'|page({category:firstCategory.slug, slug: post.slug})}}"
                                                                                class="pagex-image-link pagex-static-link">
                                                                                <img
                                                                                   
                                                                                    src="{{post.featured_images[0].thumb(300,150,{'mode':'crop' })}}"
                                                                                    class="attachment-medium size-medium"
                                                                                    alt="">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="element" data-id="pe2v09" data-type="post_data">
                                                                    <div class="element-wrap">
                                                                        <div class="pagex-post-data">
                                                                            <div
                                                                                class="pagex-post-data-item pagex-post-data-taxonomy-type">
                                                                                <div class="pagex-post-data-value">
                                                                                    {% for categorie in post.categories %}
                                                                                    <a class="mr-2" href="https://yumecommerce.com/kellex/category/management/">
                                                                                        {{categorie.name}}
                                                                                    </a>
                                                                                    {% endfor %}
                                                                                    <!-- TODO POST CATEGORIES -->
                                                                                </div>
                                                                            </div>
                                                                            <div class="pagex-post-data-divider"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="element" data-id="pa2z9w"
                                                                    data-type="post_title">
                                                                    <div class="element-wrap">
                                                                        <h4 class="pagex-post-title">
                                                                            <!-- TODO POST TITLE AND POST LINK -->
                                                                            <a href="{{'blog-post'|page({category:firstCategory.slug, slug: post.slug})}}">
                                                                                {{post.title}}
                                                                                <!-- {{ post.title}} -->
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="element" data-id="p1hmrf"
                                                                    data-type="post_excerpt">
                                                                    <div class="element-wrap">
                                                                        <!-- TODO POST EXCERPT -->
                                                                        <p class="pagex-post-excerpt">
                                                                            {{post.excerpt}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="element" data-id="pnzon1" data-type="post_data">
                                                                    <div class="element-wrap">
                                                                        <div class="pagex-post-data">
                                                                            <div
                                                                                class="pagex-post-data-item pagex-post-data-date-type">
                                                                                <div class="pagex-post-data-value">
                                                                                    <!-- TODO POST DATE -->
                                                                                    publicado {{post.published_at|date('d-m-Y')}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="pagex-post-data-divider"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="pagex-posts-loop-navigation pagex-posts-loop-navigation-numbers">
                                <nav class="navigation pagination" role="navigation">
                                    <div class="nav-links">
                                        <!-- TODO POST LINKS -->
                                        <span aria-current="page"
                                            class="page-numbers current">1</span>
                                             <a class="page-numbers"
                                            href="/page/2/">2</a>
                                             <a class="next page-numbers"
                                            href="/page/2/">Next</a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>