title = "Blog Post"
url = "/blog/post/:category/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog"

[blogPosts]
pageNumber = "{{ 1 }}"
categoryFilter = ":category"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "blog"

[SeoBlogPost]
post = "post"
==
{% set post = blogPost.post %}
{% component 'SeoBlogPost' data=post %}
{% set firstCategory =  post.categories.first() %}

{% set related = blogPosts.posts.take(4) %}

<div id="main">
    <div class="section" data-id="psd6cp" data-type="section">
        <div class="pagex-bc">
            <div class="pagex-bc-wrapper">
                <div class="pagex-image-bg-ov pagex-blend-mode-darken"></div>
                <div class="pagex-image-bg" data-dynamic-background="post:_thumbnail_id">
                    <!-- TODO POST IMAGE -->
                    <div class="pagex-dynamic-image-bg"
                        style="background-image:url({{post.featured_images[0].path}})"></div>
                </div>
            </div>
        </div>
        <div class="container" data-id="p2uw1o" data-type="container">
            <div class="row" data-id="pekwt0" data-type="row">
                <div class="col" data-id="plyrsv" data-type="column">
                    <div class="element" data-id="plvn1y" data-type="breadcrumb">
                        <div class="element-wrap">
                            <!-- TODO BREADCUMBS -->
                            <nav class="pagex-breadcrumb">
                                <a href="{{'home'|page}}">Home</a>
                                <span class="delimiter">|</span>
                                <a href="{{'blog'|page }}">Blog</a>
                                <span class="delimiter">|</span>
                                <span class="">
                                    {{post.title}}
                                </span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" data-type="section">
        <div class="container  container-fluid p-0" data-id="plt8sq" data-type="container">
            <div class="row  no-gutters" data-id="pdheur" data-type="row">
                <div class="col" data-id="pds4fq" data-type="column">
                    <div class="row" data-id="prwa5x" data-type="inner-row">
                        <div class="col-12 col-md-8" data-id="pw9i5k" data-type="column">
                            <div class="element" data-id="po9u2l" data-type="post_data">
                                <div class="element-wrap">
                                    <div class="pagex-post-data">
                                        <div class="pagex-post-data-item pagex-post-data-taxonomy-type">
                                            <div class="pagex-post-data-icon">
                                                <svg class="svg-inline--fa fa-bullseye pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 72c101.689 0 184 82.295 184 184 0 101.689-82.295 184-184 184-101.689 0-184-82.295-184-184 0-101.689 82.295-184 184-184m0-64C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 184c35.29 0 64 28.71 64 64s-28.71 64-64 64-64-28.71-64-64 28.71-64 64-64m0-64c-70.692 0-128 57.308-128 128s57.308 128 128 128 128-57.308 128-128-57.308-128-128-128z"></path></svg>
                                            </div>
                                            <div class="pagex-post-data-value"><a
                                                    href="https://yumecommerce.com/kellex/tag/experience/">{{firstCategory.name}}</a></div>
                                        </div>
                                        <div class="pagex-post-data-divider"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="element" data-id="plwb7s" data-type="post_title">
                                <div class="element-wrap">
                                    <!-- TODO POST TITLE -->
                                    <h1 class="pagex-post-title">{{post.title}}
                                    </h1>
                                </div>
                            </div>
                            <div class="element" data-id="pk0vf7" data-type="post_excerpt">
                                <div class="element-wrap">
                                    <!-- TODO POST EXCERPT -->
                                    <p class="pagex-post-excerpt">{{post.excerpt}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="ml-auto  col-12 col-md-4" data-id="piuu5n" data-type="column">
                            <div class="element" data-id="pfeszr" data-type="heading">
                                <div class="element-wrap">
                                    <div class="pagex-heading pagex-lang-str">Posted</div>
                                </div>
                            </div>
                            <div class="element" data-id="pqm8aq" data-type="post_data">
                                <div class="element-wrap">
                                    <div class="pagex-post-data">
                                        <div class="pagex-post-data-item pagex-post-data-date-type">
                                            <!-- TODO POST DATE -->
                                            <div class="pagex-post-data-value">{{post.published_at|date("d-m-Y")}}</div>
                                        </div>
                                        <div class="pagex-post-data-divider"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="element" data-id="ph463t" data-type="separator">
                                <div class="element-wrap">
                                    <div class="pagex-separator-wrapper">
                                        <div class="pagex-separator">
                                            <div class="pagex-separator-line pagex-separator-left-line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            
                            <div class="element" data-id="pskmb6" data-type="heading">
                                <div class="element-wrap">
                                    <div class="pagex-heading pagex-lang-str">Categorias</div>
                                </div>
                            </div>
                            <div class="element" data-id="p015ix" data-type="post_data">
                                <div class="element-wrap">
                                    <div class="pagex-post-data">
                                        <div class="pagex-post-data-item pagex-post-data-taxonomy-type">
                                            <div class="pagex-post-data-value">
                                                <!-- TODO POST CATEGORIES -->
                                                {% for  category in post.categories %}
                                                <a href="https://yumecommerce.com/kellex/category/management/">
                                                    {{category.name}}
                                                </a>
                                                {% if loop.last_index == false %}
                                                <span class="pagex-post-data-taxonomy-sep">,</span>
                                                {% endif %}
                                                {% endfor %}
                                                
                                                <a href="https://yumecommerce.com/kellex/category/news/"
                                                    >News
                                                </a>
                                        </div>
                                        <div class="pagex-post-data-divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="element" data-id="plbt22" data-type="post_content">
                        <div class="element-wrap">
                            <!-- TODO POST CONTENT -->
                            {{post.content|raw}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" data-id="pquil2" data-type="section">
        <div class="container" data-id="pm7a7n" data-type="container">
            <div class="row" data-id="pgwwpb" data-type="row">
                <div class="col" data-id="pecwph" data-type="column">
                    <div class="element" data-id="psio1u" data-type="post_data">
                        <div class="element-wrap">
                            <div class="pagex-post-data">
                                <div class="pagex-post-data-item pagex-post-data-taxonomy-type">
                                    <div class="pagex-post-data-prefix">Etiquetas relacionadas:</div>
                                    <!-- TODO POST TAGS -->
                                    <div class="pagex-post-data-value"><a href="https://yumecommerce.com/kellex/tag/experience/">{{firstCategory.name}}</a></div>
                                </div>
                                <div class="pagex-post-data-divider"></div>
                            </div>
                        </div>
                    </div>

                    <!-- TODO POST RELATED -->
                    <div class="element" data-id="p9ujkw" data-type="posts">
                        <div class="element-wrap">
                            <h2 class="pagex-posts-title">Related Articles:</h2>
                            <div class="pagex-posts pagex-posts-grid-layout">
                                <div class="pagex-posts-wrapper">
                                    <div class="pagex-posts-item-wrapper">
                                        <div class="pagex-posts-item">
                                            <div class="section" data-id="p1i0by" data-type="section">
                                                <div class="container  p-0" data-id="pj1su3" data-type="container">
                                                    <div class="row  no-gutters" data-id="p7i0em" data-type="row">
                                                        {% for post_related in related %}
                                                            {% if post_related.id == post.id %}
                                                            <div class="col-auto" data-id="piq5s2" data-type="column">
                                                                <div class="element" data-id="pvzngv" data-type="image">
                                                                    <div class="element-wrap">
                                                                        <div class="pagex-image"><a
                                                                                href="https://yumecommerce.com/kellex/software-flexibility-and-hardware-performance-scalability-2/"
                                                                                class="pagex-image-link pagex-static-link">
                                                                                <img width="150" height="150"
                                                                                    src="{{post_related.featured_images[0].path}}"
                                                                                    class="attachment-thumbnail size-thumbnail"
                                                                                     loading="lazy"></a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col" data-id="pt30yr" data-type="column">
                                                                <div class="element" data-id="p6p7nx"
                                                                    data-type="post_title">
                                                                    <div class="element-wrap">
                                                                        <h4 class="pagex-post-title">
                                                                            <a href="https://yumecommerce.com/kellex/software-flexibility-and-hardware-performance-scalability-2/">
                                                                                {{post_related.title}}
                                                                            </a>
                                                                            </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="element" data-id="pknjt1" data-type="post_data">
                                                                    <div class="element-wrap">
                                                                        <div class="pagex-post-data">
                                                                            <div
                                                                                class="pagex-post-data-item pagex-post-data-date-type">
                                                                                <div class="pagex-post-data-value">{{post.related.published_at|date('d-m-Y')}}</div>
                                                                            </div>
                                                                            <div class="pagex-post-data-divider"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>