title = "Careers"
url = "/careers"
layout = "default"
description = "Careers page"
is_hidden = 0
==
function onStart()
{
  $this['list'] = [ 'Competitive Salary', 'Modern Office', 'Apple Gear Setup', 'Insurance', 'Honest Culture', 'Enthusiasm And Fun', 'Professionall Grow'];
  $this['careers'] = [ 'IT Operations Specialist', 'Enthusiasm And Fun'];
}
==

<div id="main">
    <div class="section" data-type="section">
        <div class="container container-fluid p-0" data-type="container">
            <div class="row  no-gutters" data-type="row">
                <div class="col" data-type="column">
                    <div class="element" data-type="post_content">
                        <div class="element-wrap">
                            <div class="section" data-id="pid08f" data-type="section">
                                <div class="pagex-bc">
                                    <div class="pagex-bc-wrapper">
                                        <div class="pagex-image-bg-ov pagex-blend-mode-overlay"></div>
                                        <div class="pagex-video-bg pagex-video-bg-youtube"
                                            data-video-bg="https://www.youtube.com/watch?v=ScMzIvxBSi4"
                                            data-video-timeline="%7B%22start%22%3A%22%22%2C%22end%22%3A%22%22%7D">
                                            <iframe class="pagex-video-youtube pagex-video-embed-loaded"
                                                id="p5d3bf20219284" frameborder="0" allowfullscreen="1"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                title="YouTube video player" width="640" height="360"
                                                src="https://www.youtube.com/embed/ScMzIvxBSi4?controls=0&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1&amp;origin=http%3A%2F%2Flocalhost/megadatta&amp;widgetid=1"
                                                style="width: 1351px; height: 763.277px; left: 0px;"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="container" data-id="pgltnh" data-type="container">
                                    <div class="row  justify-content-between" data-id="p2apdg" data-type="row">
                                        <div class="col-lg-7  col-12" data-id="ps06ct" data-type="column">
                                            <div class="element" data-id="p2bv67" data-type="heading">
                                                <div class="element-wrap">
                                                    <h1 class="pagex-heading pagex-lang-str">
                                                        Career <br>Opportunities
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="element" data-id="p46jeg" data-type="heading">
                                                <div class="element-wrap">
                                                    <div class="pagex-heading pagex-lang-str">
                                                        Become a part of our big
                                                        family to inspire and get inspired by professional experts.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-lg-4" data-id="pv6ew3" data-type="column">
                                            <div class="element" data-id="p0rxss" data-type="heading">
                                                <div class="element-wrap">
                                                    <div class="pagex-heading pagex-lang-str">Inspiring vision</div>
                                                </div>
                                            </div>
                                            <div class="element" data-id="peaqee" data-type="heading">
                                                <div class="element-wrap">
                                                    <h2 class="pagex-heading pagex-lang-str">We Can Offer:</h2>
                                                </div>
                                            </div>
                                            <div class="element" data-id="p9to3u" data-type="list">
                                                <div class="element-wrap">
                                                    <div class="pagex-list pagex-list-align d-flex flex-wrap">
                                                        {% for item in list %}
                                                            <div class="pagex-list-item pagex-list-align">
                                                                <div class="pagex-list-item-icon">
                                                                    <svg class="svg-inline--fa fa-check pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> <path fill="currentColor"     d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"> </path></svg>
                                                                </div>
                                                                <div class="pagex-list-item-wrapper">
                                                                    <div class="pagex-list-item-title pagex-lang-str">
                                                                        {{ item }}    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="pagex-list-divider"></div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="element" data-id="p5odln" data-type="heading">
                                                <div class="element-wrap">
                                                    <div class="pagex-heading pagex-lang-str">
                                                        Become a part of our big
                                                        family to inspire and get inspired by professional experts. <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section" data-id="pxzzcw" data-type="section">
                                <div class="container" data-id="prnts9" data-type="container">
                                    <div class="row" data-id="pow7ki" data-type="row">
                                        <div class="col" data-id="pwl6gl" data-type="column">
                                            <div class="element" data-id="pa0e6y" data-type="heading">
                                                <div class="element-wrap">
                                                    <h2 class="pagex-heading pagex-lang-str">
                                                        Benefits of working with us
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="element" data-id="p1ae3c" data-type="features">
                                                <div class="element-wrap">
                                                    <div class="pagex-features">
                                                        <div class="pagex-features-items pagex-features-position-top">
                                                            <div class="pagex-feature-item-wrapper">
                                                                <div class="pagex-feature-item">
                                                                    <div class="pagex-feature-item-title-wrapper">
                                                                        <h4
                                                                            class="pagex-feature-item-title pagex-lang-str">
                                                                            Unites thousands</h4>
                                                                    </div>
                                                                    <div
                                                                        class="pagex-feature-item-description pagex-lang-str">
                                                                        hundreds of companies with different owners, all
                                                                        over the world, organised in a franchise system.
                                                                        It’s one brand but it reaches millions of hearts
                                                                        and homes</div>
                                                                </div>
                                                            </div>
                                                            <div class="pagex-feature-item-wrapper">
                                                                <div class="pagex-feature-item">
                                                                    <div class="pagex-feature-item-title-wrapper">
                                                                        <h4
                                                                            class="pagex-feature-item-title pagex-lang-str">
                                                                            Humanistic values</h4>
                                                                    </div>
                                                                    <div
                                                                        class="pagex-feature-item-description pagex-lang-str">
                                                                        Our culture is based on the spirit of
                                                                        togetherness, enthusiasm and fun. And we’re
                                                                        always looking for people who share our positive
                                                                        attitude and values</div>
                                                                </div>
                                                            </div>
                                                            <div class="pagex-feature-item-wrapper">
                                                                <div class="pagex-feature-item">
                                                                    <div class="pagex-feature-item-title-wrapper">
                                                                        <h4
                                                                            class="pagex-feature-item-title pagex-lang-str">
                                                                            Variety of exciting roles</h4>
                                                                    </div>
                                                                    <div
                                                                        class="pagex-feature-item-description pagex-lang-str">
                                                                        And much, much more! And we’re always looking
                                                                        for people who have the desire to learn and grow
                                                                        professionally right along with our business.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section" data-id="pxvpsn" data-type="section">
                                <div class="container" data-type="container">
                                    <div class="row" data-type="row">
                                        <div class="col" data-type="column">
                                            <div class="element" data-id="p7w18c" data-type="accordion">
                                                <div class="element-wrap">
                                                    <div class="pagex-accordion">
                                                        {% for career in careers %}
                                                        <div class="pagex-accordion-item pagex-item-active">
                                                            <div class="pagex-accordion-item-header trn-300">
                                                                <div class="pagex-accordion-item-title trn-300 w-100">
                                                                    <div class="pagex-lang-str">
                                                                        <!-- TODO -->
                                                                        {{ career }}
                                                                    </div>
                                                                </div>
                                                                <div class="pagex-accordion-toggle trn-300 ml-4">
                                                                    <svg class="pagex-icon"> <use xlink:href="#pagex-arrow-down-icon"></use></svg>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="pagex-accordion-item-content-wrapper pagex-accordion-active">
                                                                <div
                                                                    class="pagex-accordion-item-content pagex-inner-row-holder">
                                                                    <div class="row" data-id="p3zfz1"
                                                                        data-type="inner-row">
                                                                        <div class="col-12 col-xl-auto" data-id="pf418k"
                                                                            data-type="column">
                                                                            <div class="element" data-id="p43i4l"
                                                                                data-type="heading">
                                                                                <div class="element-wrap">
                                                                                    <div class="pagex-heading pagex-lang-str">
                                                                                        <!-- TODO -->
                                                                                        Full Time
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="element" data-id="prdbld"
                                                                                data-type="heading">
                                                                                <div class="element-wrap">
                                                                                    <div class="pagex-heading pagex-lang-str">
                                                                                    <!-- TODO     -->
                                                                                    Apply until 22.12.2019
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-xl" data-id="pgq83c"
                                                                            data-type="column">
                                                                            <div class="element" data-id="pylsur"
                                                                                data-type="heading">
                                                                                <div class="element-wrap">
                                                                                    <!-- TODO -->
                                                                                    <div
                                                                                        class="pagex-heading pagex-lang-str">
                                                                                        We are currently seeking a
                                                                                        highly motivated individual to
                                                                                        fill an I.T. This position will
                                                                                        provide remote and onsite
                                                                                        hands-on support to staff and
                                                                                        customers as well as,
                                                                                        proactively identify issues. We
                                                                                        are always ready to help and
                                                                                        support each other and the
                                                                                        organization.</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-xl-auto" data-id="psvnis"
                                                                            data-type="column">
                                                                            <div class="element" data-id="ptwyr0"
                                                                                data-type="button">
                                                                                <div class="element-wrap">
                                                                                    <div class="pagex-button-wrapper">
                                                                                        <a class="pagex-button-link pagex-static-link"
                                                                                            href="#">
                                                                                            <div class="pagex-button">
                                                                                                <div
                                                                                                    class="pagex-button-content pagex-lang-str">
                                                                                                    Apply Now
                                                                                                </div>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>