title = "Planes"
url = "/planes"
layout = "default"
meta_title = "Planes"
meta_description = "Servicios de Internet dedicado en Valencia - Carabobo. Tenemos planes para empresas, con estabilidad y rapidez en nuestra conexión. Internet Simétrico 24/7"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[SeoCmsPage]
==
<div id="main">
    <div class="section" data-type="section">
        <div class="container container-fluid p-0" data-type="container">
            <div class="row  no-gutters" data-type="row">
                <div class="col" data-type="column">
                    <div class="element" data-type="post_content">
                        <div class="element-wrap">
                            <div class="section" data-id="pid08f" data-type="section">
                                <div class="pagex-bc">
                                    <div class="pagex-bc-wrapper">
                                        
                                        <div class="pagex-video-bg pagex-video-bg-youtube" id="plan-list-video"
                                            data-video-bg="https://www.youtube.com/watch?v=WZNR2K22cYY">
                                            <iframe class="pagex-video-youtube pagex-video-embed-loaded"
                                                frameborder="0" allowfullscreen="1"
                                                allow="accelerometer; autoplay;clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                title="YouTube video player" width="640" height="360"
                                                src="https://www.youtube.com/embed/WZNR2K22cYY?&rel=0&autoplay=1&playlist=WZNR2K22cYY&loop=1&mute=1&enablejsapi=1&showinfo=0&controls=0&enablejsapi=1&widgetid=1&vq=hd1080"
                                                
                                                style="width: 1351px; height: 763.277px; left: 0px;"></iframe>
                                        </div>
                                        
                                        <div class="pagex-image-bg" id="plan-list-banner"></div>
                                    </div>
                                </div>
                                <div class="container" data-id="pgltnh" data-type="container">
                                    <div class="row  justify-content-between" data-id="p2apdg" data-type="row">
                                        <div class="col-lg-7  col-12" data-id="ps06ct" data-type="column">
                                            <div class="element" data-id="p2bv67" data-type="heading">
                                                <div class="element-wrap">
                                                    <h1 class="pagex-heading pagex-lang-str">
                                                        Mega Planes
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="element" data-id="p46jeg" data-type="heading">
                                                <div class="element-wrap">
                                                    <div class="pagex-heading pagex-lang-str">
                                                        Diseñados para cada una de tus necesidades tecnológicas
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% partial 'plans/asimetric-plans' %}
    
    {% partial 'plans/simetric-plans' %}
    {#
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            ...
            </div>
        </div>
    </div>
    #}
</div>