title = "Zonas de cobertura"
url = "/zonas-de-cobertura"
layout = "default"
meta_title = "Zonas de cobertura"
meta_description = "Tenememos infrestructura para cubrir toda la zona de Valencia. Adicional algunas otras zonas de Carabobo"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[CityList]
search_parameter = 1
scope = "state"
type = "id"

[SeoCmsPage]
==

{% component 'CityList' %}

{% set obList = CityList.getCityList() %}

<div id="main">
    <div class="section" data-type="section">
        <div class="container container-fluid p-0" data-type="container">
            <div class="row  no-gutters" data-type="row">
                <div class="col" data-type="column">
                    <div class="element" data-type="post_content">
                        <div class="element-wrap">
                            <div class="section" data-id="pid08f" data-type="section">
                                <div class="pagex-bc">
                                    <div class="pagex-bc-wrapper">
                                        <div class="pagex-image-bg-ov pagex-blend-mode-overlay" id="zones-overlay"></div>
                                        
                                        <div class="pagex-video-bg pagex-video-bg-youtube " id="zones-video"
                                            data-video-bg="https://www.youtube.com/watch?v=Dj8a7_1QSUw"
                                            data-video-timeline="%7B%22start%22%3A%22%22%2C%22end%22%3A%22%22%7D">
                                            <iframe class="pagex-video-youtube pagex-video-embed-loaded"
                                                id="p5d3bf20219284" frameborder="0" allowfullscreen="1"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                title="YouTube video player" width="640" height="360"
                                                src="https://www.youtube.com/embed/Dj8a7_1QSUw?&rel=0&autoplay=1&playlist=Dj8a7_1QSUw&loop=1&mute=1&enablejsapi=1&showinfo=0&controls=0&enablejsapi=1&widgetid=1"
                                                style="width: 1351px; height: 763.277px; left: 0px;"></iframe>
                                        </div>
                                        
                                        <div class="pagex-image-bg d-none" id="zones-banner"></div>
                                    </div>
                                </div>
                                <div class="container" data-id="pgltnh" data-type="container">
                                    <div class="row  justify-content-between" data-id="p2apdg" data-type="row">
                                        <div class="col-lg-7  col-12" data-id="ps06ct" data-type="column">
                                            <div class="element" data-id="p2bv67" data-type="heading">
                                                <div class="element-wrap">
                                                    <h1 class="pagex-heading pagex-lang-str">
                                                        Zonas de Cobertura
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="element" data-id="p46jeg" data-type="heading">
                                                <div class="element-wrap">
                                                    <div class="pagex-heading pagex-lang-str">
                                                        En el estado Carabobo contamos con numerosos nodos para garantizar el mayor alcance
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- 

                                display: flex;
    flex-direction: row;
    align-items: center;
                            -->
                            {% for city in obList %}
                            <div class="section" id="asimetric-plan-section" data-type="section">
                                <div class="container" id="asimetric-plan-container" data-type="container">
                                    <div class="row" data-id="p4p2w9" data-type="row">
                                        <div class="col-lg-7 col-12 city-text-right "data-type="column">
                                            
                                            
                                            <div class="element" data-id="pivu41" data-type="heading">
                                                <div class="element-wrap">
                                                    <div class="pagex-heading-presentation">
                                                        <h2 class="pagex-heading pagex-lang-str">{{city.name}}</h2>
                                                        <h3>{{city.description}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="col-12 col-md-5 pl-2">
                                            <div class="element">
                                                <div class="element-wrap">
                                                    <img class="img-fluid" width="350px" src="{{city.image.path}}" alt="">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                       
                                     
                                        
                                    </div>
                                    <div class="row pb-3">
                                        <div class="pagex-button zone-button-wrapper ">
                                            <div class="pagex-button-content" data-toggle="collapse" href="#collapse-{{city.id}}" role="button">
                                                VER ZONAS
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid zone-container collapse" id="collapse-{{city.id}}">
                                <div class="row">
                                   <div class="container">
                                       <div class="row">
                                        {% for zone in city.zones %}
                                            <div class="col-md-4  pb-2">
                                                <p>
                                                    <span>
                                                        <svg id="i-location" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                        <circle cx="16" cy="11" r="4" />
                                                        <path d="M24 15 C21 22 16 30 16 30 16 30 11 22 8 15 5 8 10 2 16 2 22 2 27 8 24 15 Z" />
                                                        </svg>
                                                    </span>
                                                 {{zone.name}}</p>
                                            </div>
                                        {% endfor %}
                                   </div>
                                     </div>
                                
                                </div>
                                
                            </div>
                            {% endfor %}

                            {#
                            <div class="section" data-id="pxzzcw" data-type="section">
                                <div class="container" data-id="prnts9" data-type="container">
                                    <div class="row" data-id="pow7ki" data-type="row">
                                        <div class="col" data-id="pwl6gl" data-type="column">
                                            <div class="element" data-id="" data-type="heading">
                                                <div class="element-wrap">
                                                    <h2 class="pagex-heading pagex-lang-str">
                                                        Encuentra tu zona de residencia y solicita tu instalación
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="element" data-id="p1ae3c" data-type="features">
                                                <div class="element-wrap">
                                                    <div class="pagex-features">
                                                        <div class="pagex-features-items pagex-features-position-top">
                                                        
                                                            {% for city in obList %}
                                                               <div class="col-md-6">
                                                                <div class="pagex-feature-item">
                                                                    <div class="pagex-feature-item-title-wrapper">
                                                                        <h4
                                                                            class="pagex-feature-item-title pagex-lang-str">
                                                                            {{city.name}}</h4>
                                                                    </div>
                                                                    <div class="pagex-feature-item-description pagex-lang-str">
                                                                        {{city.description}}
                                                                        <ul>
                                                                        {% for zone in city.zones %}
                                                                            <li>
                                                                            {{zone.name}}
                                                                            </li>
                                                                        
                                                                        {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                
                                                            {% endfor %}
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            #}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>