[ServiceList]
==

{% if presentationId is not empty %}
{% set presentation = ServiceList.getPresentation(presentationId) %}
<div class="plan-info-wrapper mb-3">
    <h3 class="text-center mt-2 mb-0">{{presentation.name}}</h3>
    <p class="text-center">{{presentation.preview_text}}</p>

    <input type="hidden" name="presentation_id" value="{{presentation.id}}">
</div>


{% endif %}


{% if serviceCode is not empty %}

{% set service = ServiceList.getByCode([serviceCode]) %}

<div class="row">
    <div class="col-md-12 col-sm-12">
       
        <select class="form-control" name="presentation_id">
            <option value="-1">Elige la capacidad del plan</option>     
            {% for presentation in service.presentation %}
            <option value="{{presentation.id}}">{{presentation.name}}</option>
            {% endfor %} 
          </select>
    </div>

</div>

{% endif %}
