[ZoneList]
==

{% set zones = ZoneList.getZoneList(cityId) %}

<select class="form-control" name="zone_id">
    <option value="-1">Elige tu Zona </option>
    {% for zone in zones %}
    <option value="{{zone.id}}">{{zone.name}}</option>
    {% endfor %}
  </select>

  