[ServiceList]
==

{% set asimetricService = ServiceList.getByCode(["asimetric"]) %}

<div class="section" id="asimetric-plan-section" data-type="section">
    <div class="container" id="asimetric-plan-container" data-type="container">
        <div class="row" data-id="p4p2w9" data-type="row">
            <div class="col-lg-7  col-12" data-id="pnn902" data-type="column">
                <div class="element" data-id="pkrhnn" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading pagex-lang-str">
                            LA VELOCIDAD QUE TANTO BUSCABAS
                        </div>
                    </div>
                </div>
                <div class="element" data-id="p8cfv5" data-type="heading">
                    <div class="element-wrap">
                        <h2 class="pagex-heading pagex-lang-str">Planes Asimétricos</h2>
                    </div>
                </div>
                <div class="element" data-id="pivu41" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading-presentation">
                            Mayor velocidad de descarga en transferencia de datos a la hora de navegar y descargar archivos.
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="col-12 col-md-5 pl-2">
                <div class="element">
                    <div class="element-wrap">
                        <img class="img-fluid" width="400px" src="http://megadatta.dictya.com/storage/app/media/megadatta-planes-12.png" alt="">
                        
                    </div>
                </div>
            </div>
           
         
            
        </div>
    </div>
</div>

<div class="container ">
    <div class="row">
        {% for presentation in asimetricService.presentation %}
        {% set price = presentation.price|split(".") %}
        <div class="col-md-4 pr-0 pl-0">
            <div class="card-plan best-choice"data-type="column">
                <div class="plan-subtitle ">
                    <div class="pagex-heading">Planes Asimétricos</div>
                </div>
                <div class="element plan-price">
                    <h4 class="pagex-heading">{{price[0]}}.<sup>{{price[1]}} USD</sup></h4>
                </div>

                <div class="element  plan-price-by">
                    <div class="pagex-heading">Mensual</div>
                </div>
                <div class="element plan-title w-100" data-type="heading">
                    <h4 class="pagex-heading pb-2">{{presentation.name}}</h4>
                    <p class="pt-4 pb-5">{{presentation.preview_text}}</p>
                </div>
                
                {% if presentation.description is not empty %}
                <div class="w-100 pagex-list pagex-list-align ">
                   
                    {{presentation.description|raw}}
               
                
                </div>
                {% endif %}
                <div class="pagex-button-wrapper button-link button-link-border plan-button-wrapper">
                    <a class="pagex-static-link plan-link"  href="#" data-value="{{presentation.id}}">
                        <div class="pagex-button">
                            <div class="pagex-button-content" data-attach-loading>
                                CONTRATAR
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  