[ServiceList]
==

{% set simetricService = ServiceList.getByCode(["simetric"]) %}

<div class="section" id="simetric-plan-section">
    <div class="pagex-shape pagex-shape-bottom">
        <svg>
            <use xlink:href="#pagex-flipped-curve">
                <svg id="pagex-flipped-curve" viewBox="0 0 1366 100" preserveAspectRatio="none"> <path fill="currentColor" d="M683,3c509.9,0.7,683,97,683,97V0H0v99C0,99,173.1,2.2,683,3z"></path> </svg>
            </use>

        </svg>
    </div>
    <div class="pagex-bc">
        <div class="pagex-bc-wrapper">
            <div class="pagex-image-bg-ov">

            </div>
            <div class="pagex-svg-bg">
                <svg viewBox="0 0 1446 561" preserveAspectRatio="xMidYMax slice">
                    <linearGradient id="zajycwa" gradientUnits="userSpaceOnUse"
                    x1="594.0032" y1="752.6509" x2="327.0104" y2="180.0831"
                    gradientTransform="matrix(-1 0 0 -1 1446 561)">
                        <stop offset="0.1992" style="stop-color:#7260FB;stop-opacity:0">

                        </stop>
                        <stop offset="1" style="stop-color:#7360FB">

                        </stop>
                    </linearGradient>
                    <linearGradient id="zajyqwa" gradientUnits="userSpaceOnUse"
                     x1="-441" y1="378.7026" x2="942" y2="378.7026" 
                     gradientTransform="matrix(1 0 0 -1 441 561)">
                        <stop offset="0.1992" style="stop-color:#7260FB;stop-opacity:0">

                        </stop>
                        <stop offset="1" style="stop-color:#705FFB"></stop>
                    </linearGradient>
                    <linearGradient id="zajyqw" gradientUnits="userSpaceOnUse"
                     x1="723" y1="331" x2="1021" y2="331">
                        <stop offset="0.1158" style="stop-color:#7260FB;stop-opacity:0">

                        </stop>
                        <stop offset="1" style="stop-color:#705FFB"></stop>
                    </linearGradient><linearGradient id="HAJYQw" gradientUnits="userSpaceOnUse" 
                    x1="1208" y1="455.1182" x2="1705" y2="455.1182">
                        <stop offset="0.1158" style="stop-color:#7260FB;stop-opacity:0"></stop>
                        <stop offset="1" style="stop-color:#705FFB">

                        </stop>
                    </linearGradient>
                    <linearGradient id="HGJYQw" gradientUnits="userSpaceOnUse"
                     x1="-186" y1="61" x2="311" y2="61">
                     <stop offset="0.1158" style="stop-color:#7260FB;stop-opacity:0">

                     </stop>
                     <stop offset="1" style="stop-color:#705FFB">

                     </stop>
                    </linearGradient>
                    <linearGradient id="HGJYWw" gradientUnits="userSpaceOnUse"
                     x1="285" y1="530" x2="432" y2="530">
                        <stop offset="0.1158" style="stop-color:#7260FB;stop-opacity:0">

                        </stop>
                        <stop offset="1" style="stop-color:#705FFB"></stop>
                    </linearGradient>
                    <path style="opacity:0.6;fill:url(#zajycwa);"
                         d="M1446,196c0,0-105.6,159.1-289,60C996,169,940.2,98.4,736,141C477,195,441,0,441,0h1005V196z">
                    </path>
                    <rect x="0" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1446 561)" 
                        fill="#6655F3" width="1446" height="561">
                    </rect>
                    <path style="opacity:0.8;fill:url(#zajyqwa);" 
                        d="M0,346c0,0,225.2,95.1,425-145C653-73,914.8,88.3,1108,96c126,5,275-96,275-96H0L0,346z">
                    </path>
                    <circle fill="url(#zajyqw)" cx="872" cy="331" r="149"></circle>
                    <path fill="url(#HAJYQw)" d="M1210.7,561H1446V349.2C1325.9,354.2,1227.8,444.4,1210.7,561z">

                    </path>
                    <path fill="url(#HGJYQw)" d="M276.4,0H0v114.1c20,5.2,40.9,7.9,62.5,7.9C153.5,122,233.1,73,276.4,0z">

                    </path>
                    <path fill="url(#HGJYWw)" d="M358.5,499c-36.7,0-67.1,26.9-72.6,62h145.2C425.6,525.9,395.2,499,358.5,499z">

                    </path>
                </svg>
            </div>
        </div>
    </div>
    <div class="container" data-id="pm8ap2" data-type="container">
        <div class="row" data-id="pbsnim" data-type="row">
            <div class="col" data-id="p6qeiw" data-type="column">
                <div class="element" data-id="p0qxr9" data-type="heading">
                    <div class="element-wrap">
                        <h2 class="pagex-heading pagex-lang-str">
                            {{simetricService.name}}
                        </h2>
                    </div>
                </div>
                <div class="element subheader" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading pagex-lang-str">
                            {{simetricService.preview_text}}
                        </div>
                    </div>
                </div>
                <div class="element" id="simetric-features" data-type="features">
                    <div class="element-wrap">
                        <div class="pagex-features">
                            <div class="pagex-features-items pagex-features-position-title">
                                <div class="pagex-feature-item-wrapper">
                                    <div class="pagex-feature-item">
                                        <div class="pagex-feature-item-content">
                                            <div class="pagex-feature-item-icon-wrapper">
                                                <div class="pagex-feature-item-icon">
                                                    <svg viewBox="0 0 480 480" fill="currentColor"
                                                     class="pagex-icon">
                                                     <path d="M416.279,400c-21.6,0-24-9.6-24-14.4c30.4-12.8,48.8-43.2,48-76c0-1.6,0-4.8,0-5.6c0-40-32-72-72-72h-96c-4.8,0-8,3.2-8,8
                                                     c0,18.4,7.2,36,19.2,48.8c-1.6,8-3.2,15.2-3.2,23.2c0,32,19.2,60.8,48,73.6c0,4.8-2.4,14.4-24,14.4c-22.4,0-40,17.6-40,40v40h16
                                                     v-40c0-13.6,10.4-24,24-24c24.8,0,40-12,40-32v-4c0-3.2-2.4-6.4-5.6-7.2c-25.6-9.6-42.4-33.6-42.4-60.8c0-4,0-8,0.8-11.2
                                                     c11.2,7.2,24.8,11.2,39.2,11.2h88c0,27.2-16.8,51.2-42.4,60c-3.2,0.8-5.6,4-5.6,7.2v4.8c0,20,15.2,32,40,32c13.6,0,24,10.4,24,24
                                                     v40h16v-40C456.279,417.6,438.679,400,416.279,400z M336.279,296c-28,0-51.2-20.8-55.2-48h87.2c28,0,51.2,20.8,55.2,48H336.279z">
                                                    </path>
                                                    <path d="M479.479,216V80c0.8-17.6-13.6-32-31.2-32h-160V32c0-17.6-14.4-32-32-32h-224c-17.6,0-32,14.4-32,32v176
                                                    c0,33.6,12,57.6,36,72l8-13.6c-18.4-12-28-30.4-28-58.4V32c0-8.8,7.2-16,16-16h224c8.8,0,16,7.2,16,16v152c0,8.8-7.2,16-16,16
                                                    h-142.4c-24.8,0-46.4,18.4-49.6,43.2c0,1.6,0,3.2,0,4.8h16c0-0.8,0-2.4,0-3.2c2.4-16.8,16.8-28.8,33.6-28.8h142.4
                                                    c17.6,0,32-14.4,32-32h96c22.4,0,40,17.6,40,40h16c0-31.2-24.8-56-56-56h-96V64h160c8.8,0,16,7.2,16,16v136
                                                    c0.8,16.8-4,32.8-14.4,46.4l12,10.4C474.679,256.8,481.079,236.8,479.479,216z">
                                                    </path>
                                                    <path d="M200.279,408c-12.8,0-23.2-9.6-24-22.4c40.8-17.6,59.2-64.8,41.6-105.6c-17.6-40.8-64.8-59.2-105.6-41.6
                                                    c-40.8,17.6-59.2,64.8-41.6,105.6c8,18.4,23.2,33.6,41.6,41.6c-0.8,12.8-11.2,22.4-24,22.4c-22.4,0-40,17.6-40,40v32h16v-32
                                                    c0-13.6,10.4-24,24-24c22.4,0,40-17.6,40-40v-4c0-3.2-2.4-6.4-5.6-7.2c-22.4-8-39.2-28-42.4-52h24c1.6,0,3.2-0.8,4.8-1.6
                                                    l19.2-12.8l19.2,12.8c1.6,0.8,3.2,1.6,4.8,1.6h55.2c-3.2,24-19.2,44-42.4,52c-3.2,0.8-5.6,4-5.6,7.2v4c0,22.4,17.6,40,40,40
                                                    c13.6,0,24,10.4,24,24v32h16v-32C240.279,425.6,222.679,408,200.279,408z M154.679,304l-21.6-14.4c-2.4-1.6-6.4-1.6-8.8,0
                                                    l-22.4,14.4h-20.8c4-35.2,36-60,71.2-55.2c28.8,4,52,26.4,55.2,55.2H154.679z">
                                                    </path>
                                                    <rect x="40.279" y="40" width="168" height="16"></rect>
                                                    <rect x="40.279" y="72" width="48" height="16"></rect>
                                                    <rect x="104.279" y="72" width="120" height="16"></rect>
                                                    <rect x="40.279" y="104" width="16" height="16"></rect>
                                                    <rect x="72.279" y="104" width="64" height="16"></rect>
                                                    <rect x="152.279" y="104" width="72" height="16"></rect>
                                                    <rect x="336.279" y="96" width="112" height="16"></rect>
                                                    <rect x="304.279" y="128" width="56" height="16"></rect>
                                                    <rect x="376.279" y="128" width="72" height="16"></rect>
                                                    <rect x="304.279" y="96" width="16" height="16"></rect>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="pagex-feature-item-title-wrapper">
                                                <h4 class="pagex-feature-item-title pagex-lang-str">
                                                    El teletrabajo se convirtió en la solución en estos tiempos
                                                    complicados. 
                                                </h4>
                                                <div class="pagex-feature-item-description pagex-lang-str">
                                                    Que tu presentación no se vea opacada por una mala
                                                    conexión, contrata el plan simétrico que se adapte a tus exigencias.
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="pagex-feature-item-wrapper">
                                    <div class="pagex-feature-item">
                                        <div class="pagex-feature-item-content">
                                            <div class="pagex-feature-item-icon-wrapper">
                                                <div class="pagex-feature-item-icon">
                                                    <svg viewBox="0 0 486.038 486.038" fill="currentColor" 
                                                    class="pagex-icon">
                                                    <path d="M386.667,188.301c-16.188-6.093-33.341-9.221-50.637-9.232c-79.573,0.044-144.044,64.587-144,144.16
                                                     c0.01,17.305,3.137,34.467,9.232,50.664l14.968-5.648c-24.884-66.097,8.527-139.852,74.624-164.736s139.852,8.527,164.736,74.624
                                                     s-8.527,139.852-74.624,164.736c-29.042,10.934-61.069,10.934-90.112,0l-5.648,14.968c74.43,28.018,157.481-9.607,185.498-84.037
                                                     C498.723,299.369,461.098,216.319,386.667,188.301z">
                                                    </path>
                                                    <path d="M371.972,260.688c-34.446-19.866-78.475-8.046-98.341,26.4c-12.839,22.262-12.839,49.68,0,71.941l13.848-8
                                                    c-15.442-26.797-6.237-61.039,20.561-76.48s61.039-6.237,76.48,20.561c15.442,26.797,6.237,61.039-20.56,76.48
                                                    c-8.494,4.895-18.125,7.474-27.929,7.479c-9.828,0.003-19.485-2.58-28-7.488l-8,13.848c34.446,19.866,78.475,8.046,98.341-26.4
                                                    C418.238,324.583,406.418,280.554,371.972,260.688z">
                                                    </path>
                                                    <path d="M378.829,219.853c-57.058-23.715-122.536,3.315-146.251,60.373c-11.448,27.544-11.423,58.518,0.069,86.043l14.768-6.176
                                                    c-20.368-48.889,2.752-105.032,51.641-125.4s105.032,2.753,125.4,51.641s-2.753,105.032-51.641,125.4
                                                    c-23.584,9.826-50.114,9.834-73.704,0.023l-6.16,14.72c57.058,23.715,122.536-3.315,146.251-60.373
                                                    C462.916,309.047,435.887,243.568,378.829,219.853z">
                                                    </path>
                                                    <path d="M336.03,291.069c-17.673,0-32,14.327-32,32c0.028,5.695,1.595,11.276,4.536,16.152l-47.2,47.2l-35.736-7.192
                                                    c-3.088-0.617-6.251,0.636-8.08,3.2l-40,56c-2.565,3.597-1.729,8.593,1.868,11.158c0.652,0.465,1.371,0.83,2.132,1.082l6.08,2.024
                                                    c-20.807,9.456-43.393,14.357-66.248,14.376H24.03c-4.418,0-8-3.582-8-8s3.582-8,8-8h112c13.255,0,24-10.745,24-24
                                                    s-10.745-24-24-24h-112c-4.418,0-8-3.582-8-8s3.582-8,8-8h56c23.906-0.026,44.149-17.639,47.48-41.312
                                                    c9.826-3.205,16.487-12.352,16.52-22.688v-8c13.255,0,24-10.745,24-24v-58.088c60.741-26.51,88.492-97.241,61.982-157.982
                                                    c-26.51-60.741-97.241-88.491-157.982-61.982s-88.491,97.241-61.982,157.982c12.106,27.737,34.245,49.876,61.982,61.982v58.088
                                                    c0,13.255,10.745,24,24,24v8c0.026,9.898,6.126,18.765,15.36,22.328c-3.026,14.921-16.135,25.653-31.36,25.672h-56
                                                    c-13.255,0-24,10.745-24,24s10.745,24,24,24h112c4.418,0,8,3.582,8,8s-3.582,8-8,8h-112c-13.255,0-24,10.745-24,24
                                                    s10.745,24,24,24h97.352c28.612-0.021,56.79-7,82.104-20.336l4.952,14.864c1.089,3.268,4.147,5.473,7.592,5.472
                                                    c1.668,0.004,3.295-0.52,4.648-1.496l56-40c2.561-1.827,3.813-4.986,3.2-8.072l-7.16-35.8l47.2-47.2
                                                    c4.862,2.945,10.428,4.523,16.112,4.568c17.673,0,32-14.327,32-32C368.03,305.396,353.704,291.069,336.03,291.069z
                                                    M128.03,323.069c0,4.418-3.582,8-8,8s-8-3.582-8-8v-8h16V323.069z M152.03,275.069h-64v-8h64V275.069z M152.03,251.069h-64
                                                    v-12.464c10.415,2.931,21.18,4.433,32,4.464c10.82-0.031,21.585-1.533,32-4.464V251.069z M114.702,171.069h10.632l-4.664,56
                                                    c-0.216,0-0.424,0-0.64,0s-0.424,0-0.64,0L114.702,171.069z M16.03,123.069C15.963,65.632,62.471,19.015,119.908,18.947
                                                    c57.438-0.067,104.055,46.44,104.122,103.878c0.06,50.999-36.87,94.518-87.2,102.756l4.544-54.512h18.656
                                                    c17.673-0.004,31.997-14.334,31.993-32.007c-0.004-17.673-14.334-31.997-32.007-31.993c-17.412,0.004-31.625,13.928-31.986,31.336
                                                    l-1.36,16.664h-13.304l-1.336-16c0-17.673-14.327-32-32-32s-32,14.327-32,32s14.327,32,32,32h18.64l4.544,54.512
                                                    C52.998,217.323,16.119,173.96,16.03,123.069z M142.702,155.069l1.328-16c0-8.837,7.163-16,16-16s16,7.163,16,16s-7.163,16-16,16
                                                    H142.702z M97.334,155.069H80.03c-8.837,0-16-7.163-16-16s7.163-16,16-16c8.951,0.111,16.117,7.458,16.005,16.408
                                                    c-0.001,0.085-0.003,0.171-0.005,0.256L97.334,155.069z M96.03,299.069c-4.418,0-8-3.582-8-8h64c0,4.418-3.582,8-8,8H96.03z
                                                    M205.87,441.917l-9.04-3.016l30.704-42.976l20.272,4.056L205.87,441.917z M220.198,462.269l-3.016-9.032l41.936-41.928
                                                    l4.048,20.256L220.198,462.269z M336.03,339.069c-1.383-0.019-2.758-0.221-4.088-0.6l9.744-9.744l-11.312-11.312l-9.744,9.744
                                                    c-0.379-1.33-0.581-2.705-0.6-4.088c0-8.837,7.163-16,16-16s16,7.163,16,16S344.867,339.069,336.03,339.069z">
                                                    </path>
                                                    
                                                    <path d="M295.526,127.253c0.336-4.304,0.504-8.288,0.504-12.184c0.073-35.972-10.945-71.092-31.552-100.576l-13.12,9.152
                                                    c23.129,32.782,32.817,73.181,27.072,112.888c-0.357,2.646,0.631,5.296,2.632,7.064c2.007,1.769,4.767,2.418,7.352,1.728
                                                    c47.149-12.441,97.3-5.831,139.616,18.4l8-13.856C393.506,125.49,343.553,117.45,295.526,127.253z">
                                                    </path>
                                                    <path d="M468.318,173.069l-10.584,12c5.769,5.089,11.215,10.535,16.304,16.304l12-10.6
                                                    C480.501,184.513,474.584,178.601,468.318,173.069z">
                                                    </path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="pagex-feature-item-title-wrapper">
                                                <h4 class="pagex-feature-item-title pagex-lang-str">
                                                    ¿Te ha tocado competir en juegos online con un ping de 900?
                                                </h4>
                                                <div class="pagex-feature-item-description pagex-lang-str">
                                                    No esperes a que todos se duerman para poder gozar de alta velocidad,
                                                    un cyber atleta necesita lo mejor para ser competitivo.
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="">
                        <p class="text-center">
                            <a href="#" class="btn-secundary " id="simetric-plan-link" data-value="{{simetricService.code}}">
                                Contratar
                            </a>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

