<div class="section" data-id="pxyvxo" data-type="section">
    <div class="pagex-bc">
        <div class="pagex-bc-wrapper">
            <div class="pagex-image-bg-ov"></div>
            <div class="pagex-svg-bg">
                <svg viewBox="0 0 1446 561" preserveAspectRatio="xMidYMin slice"><linearGradient id="zajycwa" gradientUnits="userSpaceOnUse" x1="594.0032" y1="752.6509" x2="327.0104" y2="180.0831" gradientTransform="matrix(-1 0 0 -1 1446 561)"><stop offset="0.1992" style="stop-color:#7260FB;stop-opacity:0"></stop><stop offset="1" style="stop-color:#7360FB"></stop></linearGradient><linearGradient id="zajyqwa" gradientUnits="userSpaceOnUse" x1="-441" y1="378.7026" x2="942" y2="378.7026" gradientTransform="matrix(1 0 0 -1 441 561)"><stop offset="0.1992" style="stop-color:#7260FB;stop-opacity:0"></stop><stop offset="1" style="stop-color:#705FFB"></stop></linearGradient><linearGradient id="zajyqw" gradientUnits="userSpaceOnUse" x1="723" y1="331" x2="1021" y2="331"><stop offset="0.1158" style="stop-color:#7260FB;stop-opacity:0"></stop><stop offset="1" style="stop-color:#705FFB"></stop></linearGradient><linearGradient id="HAJYQw" gradientUnits="userSpaceOnUse" x1="1208" y1="455.1182" x2="1705" y2="455.1182"><stop offset="0.1158" style="stop-color:#7260FB;stop-opacity:0"></stop><stop offset="1" style="stop-color:#705FFB"></stop></linearGradient><linearGradient id="HGJYQw" gradientUnits="userSpaceOnUse" x1="-186" y1="61" x2="311" y2="61"><stop offset="0.1158" style="stop-color:#7260FB;stop-opacity:0"></stop><stop offset="1" style="stop-color:#705FFB"></stop></linearGradient><linearGradient id="HGJYWw" gradientUnits="userSpaceOnUse" x1="285" y1="530" x2="432" y2="530"><stop offset="0.1158" style="stop-color:#7260FB;stop-opacity:0"></stop><stop offset="1" style="stop-color:#705FFB"></stop></linearGradient><path style="opacity:0.6;fill:url(#zajycwa);" d="M1446,196c0,0-105.6,159.1-289,60C996,169,940.2,98.4,736,141C477,195,441,0,441,0h1005V196z"></path><rect x="0" transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 1446 561)" fill="#6655F3" width="1446" height="561"></rect><path style="opacity:0.8;fill:url(#zajyqwa);" d="M0,346c0,0,225.2,95.1,425-145C653-73,914.8,88.3,1108,96c126,5,275-96,275-96H0L0,346z"></path><circle fill="url(#zajyqw)" cx="872" cy="331" r="149"></circle><path fill="url(#HAJYQw)" d="M1210.7,561H1446V349.2C1325.9,354.2,1227.8,444.4,1210.7,561z"></path><path fill="url(#HGJYQw)" d="M276.4,0H0v114.1c20,5.2,40.9,7.9,62.5,7.9C153.5,122,233.1,73,276.4,0z"></path><path fill="url(#HGJYWw)" d="M358.5,499c-36.7,0-67.1,26.9-72.6,62h145.2C425.6,525.9,395.2,499,358.5,499z"></path></svg>
            </div>
        </div>
    </div>
    <div class="pagex-shape pagex-shape-bottom pagex-shape-flip"><svg>
            <use xlink:href="#pagex-tilt">
                <svg id="pagex-tilt" viewBox="0 0 1000 100" preserveAspectRatio="none"> <path fill="currentColor" d="M0,6V0h1000v100L0,6z"></path> </svg>
            </use>
        </svg>
    </div>
    <div class="container" data-type="container">
        <div class="row  align-items-end" data-type="row">
            <div class="col-12 col-lg" data-id="phpo7r" data-type="column">
                <div class="element" data-id="p2ejd4" data-type="document_title">
                    <div class="element-wrap">
                        <h1 class="pagex-document-title m-0">Blog</h1>
                    </div>
                </div>
                <div class="element" data-id="pjhigz" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading pagex-lang-str">Mantente al tanto de todas nuestras noticias
                            updates</div>
                    </div>
                </div>
            </div>
            {#
            <div class="col-auto" data-id="p3fner" data-type="column">
                <div class="element" data-id="pozpps" data-type="search_form">
                    <div class="element-wrap">
                        <div class="pagex-search-form-wrapper">
                            <form role="search" method="get"
                                class="pagex-search-form d-flex pagex-breakpoint-desktop pagex-search-form-overlay">
                                <input type="search" name="s" class="form-control pagex-search-input" required=""
                                    placeholder="Search our blog..." value="">
                                    <button type="submit" class="btn">
                                    <svg class="pagex-icon">
                                        <use xlink:href="#pagex-search-icon"></use>
                                    </svg><span>Search</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            #}
        </div>
    </div>
</div>