<div class="section">
    <div class="container container-fluid p-0">
        <div class="row no-gutters">
            <div class="col">
                <div class="element">
                    <div class="element-wrap">

                        <!-- Effective Agency -->
                        <div class="section home-section-1"  data-type="section">
                            <div class="pagex-bc">
                                <div class="pagex-bc-wrapper">
                                    <div class="pagex-image-bg-ov"></div>
                                    <div class="pagex-svg-bg">
                                        <svg class="d-block" viewBox="50 40 854.8 781.5"
                                         style="width: 854px; height: 781px">
                                            <lineargradient id="vcxewwd" gradientUnits="userSpaceOnUse"
                                            x1="658.8606" y1="950.8224" x2="658.8606" y2="557.5207"
                                            gradientTransform="matrix(-1 0 0 -1 710.2994 1036.2665)">
                                            <stop offset="0" style="stop-color:#CE7132 "></stop>
                                            <stop offset="1" style="stop-color:#CE5132"></stop>
                                            </lineargradient>
                                            <lineargradient id="qacwdwd" gradientUnits="userSpaceOnUse" x1="512.3527"
                                            y1="355.7992" x2="354.6356" y2="222.7703" 
                                            gradientTransform="matrix(-0.7071 0.7071 -0.8383 -0.8383 668.8223 -21.0407)">
                                                <stop offset="0" style="stop-color:#00335C  "></stop>
                                                <stop offset="1" style="stop-color:#00338E "></stop>
                                            </lineargradient>
                                            <lineargradient id="fdsfsdf" gradientUnits="userSpaceOnUse" x1="612.1703" y1="17.5543"
                                            x2="716.347" y2="17.5543">
                                            <stop offset="0" style="stop-color:#00335C  "></stop>
                                            <stop offset="1" style="stop-color:#00338E "></stop>
                                            </lineargradient>
                                            <path class="bchjs" d="M0,85.4c35.7,64.7,102.9,53.2,102.9,120.4c0,62.9-73.9,71.2-77.2,120C17.1,454.5,0,478.7,0,478.7S0,85.8,0,85.4 z"></path>
                                            <path class="uvvbn" d="M224.1,0.1l-57.3,57.3c-38,38-99.7,38-137.8,0l0,0C12.9,41.3,3.6,21,1.1,0L224.1,0.1z"></path>
                                            <path class="cbnmn" d="M612.2,0.1c8.6,20.3,28.6,35,51.9,35c23.6,0,43.8-14.5,52.2-35L612.2,0.1z"></path>
                                            <path class="bljah" d="M1,603.1c0,0,549.5,233.5,452-125C364,150.8,515.5,0.6,515.5,0.6"></path>
                                            <path class="bljah" d="M1.5,694.6c0,0,602,275.7,544.5-157.5C508.5,254.6,854.5,0.6,854.5,0.6"></path>
                                        </svg>
                                        <svg class="d-none d-lg-block" viewBox="0 0 909.5 846.3"
                                            style="left: 50%;top:0;position: absolute;width: 50%; min-width: 860px;"
                                            preserveAspectRatio="xMidYMax slice">
                                            <lineargradient id="shfgsjdhg" gradientUnits="userSpaceOnUse" x1="454.7615" y1="846.3391"
                                            x2="454.7615" y2="-9.094947e-13">
                                            <stop offset="0" style="stop-color:#FC5B53"></stop>
                                            <stop offset="1" style="stop-color:#FFD45B"></stop>
                                            </lineargradient>
                                            <path class="skjdfhk" d="M671.2,753c-185,122-429,147-631.9-63.7C-130.5,513,307.2,492,275.7,322.3C228.3,66.3,335.8,0,335.8,0l525.3,0
                                            C861.2,0,1053.5,500.8,671.2,753z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="element d-inline-flex section-subtitle">
                                            <div class="element-wrap">
                                                <div class="pagex-heading">Servicios de internet inalambrico</div>
                                            </div>
                                        </div>
                                        <div class="element title-part-1" data-type="heading">
                                            <div class="element-wrap">
                                                <h2 class="pagex-heading">Conexión dedicada
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="element title-part-2" data-type="heading">
                                            <div class="element-wrap">
                                                <h2 class="pagex-heading">a tu medida
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="element section-text" data-type="heading">
                                            <div class="element-wrap">
                                                <div class="pagex-heading">Ofrecemos la estabilidad y velocidad que tanto habias esperado</div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="element position-absolute main-image" data-type="icon">
                                            <div class="element-wrap">
                                                <div class="pagex-icon-element d-flex">
                                                    <div class="pagex-icon-wrapper  w-100">
                                                        <img class="img-fluid" src="http://megadatta.dictya.com/storage/app/media/megadatta-01.png" alt="">
                                                        {#
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 730 800" class="pagex-icon"
                                                          preserveAspectRatio="xMidYMid meet">
                                                          <rect x="667.58" y="211.54" width="10.31" height="85.02" rx="2.29" fill="#3f3d56"></rect><rect x="324.76" y="144.93" width="5.79" height="27.99" rx="1.5" fill="#3f3d56"></rect><rect x="324.55" y="196.17" width="6.52" height="48.72" rx="1.69" fill="#3f3d56"></rect><rect x="324.65" y="261.94" width="6.21" height="49.14" rx="1.61" fill="#3f3d56"></rect><rect x="328.04" y="52.43" width="345.1" height="701.37" rx="35.69" fill="#3f3d56"></rect><rect x="467.3" y="73.38" width="48.19" height="9.79" rx="2.54" fill="#e6e8ec"></rect><circle cx="528.33" cy="78.27" r="5.55" fill="#e6e8ec"></circle><path d="M764.83,145.6v610A27.41,27.41,0,0,1,737.42,783H489.76a27.41,27.41,0,0,1-27.41-27.4v-610a27.41,27.41,0,0,1,27.41-27.41h37.06V123a22.58,22.58,0,0,0,22.57,22.57h126A22.57,22.57,0,0,0,697.91,123v-4.76h39.51A27.41,27.41,0,0,1,764.83,145.6Z" transform="translate(-113 -47.49)" fill="#36334a"></path><rect x="358" y="129" width="31" height="4" fill="#3f3d56"></rect><rect x="358" y="136" width="31" height="4" fill="#3f3d56"></rect><rect x="358" y="143" width="31" height="4" fill="#3f3d56"></rect><rect x="358" y="129" width="31" height="4" fill="#3f3d56"></rect><rect x="358" y="136" width="31" height="4" fill="#3f3d56"></rect><rect x="358" y="143" width="31" height="4" fill="#3f3d56"></rect><path d="M750.66,186.49h-.91l-.35-.29a7.61,7.61,0,0,0,1.78-4.89,7.44,7.44,0,1,0-7.4,7.48,7.73,7.73,0,0,0,4.88-1.78l.34.29v.92l5.74,5.75,1.72-1.72Zm-6.88,0a5.18,5.18,0,1,1,5.16-5.18A5.15,5.15,0,0,1,743.78,186.49Z" transform="translate(-113 -47.49)" fill="#3f3d56"></path><rect x="358" y="200" width="93" height="21" fill="#6c63ff"></rect><rect x="358" y="234" width="285" height="11" fill="#6c63ff" opacity="0.3"></rect><rect x="358" y="258" width="114" height="11" fill="#6c63ff" opacity="0.3"></rect><rect x="358" y="444" width="93" height="21" fill="#6c63ff"></rect><rect x="358" y="478" width="285" height="11" fill="#6c63ff" opacity="0.3"></rect><rect x="358" y="502" width="114" height="11" fill="#6c63ff" opacity="0.3"></rect><rect x="358" y="566" width="93" height="21" fill="#6c63ff"></rect><rect x="358" y="600" width="285" height="11" fill="#6c63ff" opacity="0.3"></rect><rect x="358" y="624" width="114" height="11" fill="#6c63ff" opacity="0.3"></rect><circle cx="592" cy="676" r="34" fill="#6c63ff"></circle><path d="M755,378.52v82.94a19,19,0,0,1-19,19H462.35v-121H736A19,19,0,0,1,755,378.52Z" transform="translate(-113 -47.49)" fill="#3f3d56"></path><rect x="208" y="295" width="402" height="121" rx="19.03" fill="#f2f2f2"></rect><rect x="208" y="295" width="402" height="121" rx="19.03" fill="#f2f2f2"></rect><rect x="257" y="321" width="93" height="21" fill="#6c63ff"></rect><rect x="257" y="355" width="285" height="11" fill="#6c63ff" opacity="0.3"></rect><rect x="257" y="379" width="114" height="11" fill="#6c63ff" opacity="0.3"></rect><circle cx="92.34" cy="246.84" r="35.75" fill="#3f3d56"></circle><path d="M184.6,572.43c3.69,25.89-.81,52.29-7.82,77.48-1.31,4.69-2.72,9.42-5.17,13.63s-5.86,7.83-8.74,11.79c-6,8.26-9.52,18-12.81,27.64a779.65,779.65,0,0,0-22.82,81.32,5.57,5.57,0,0,0,0,3.47c.87,2,3.51,2.26,5.68,2.25l28.06-.15c1-1.92-.85-4-2-5.84-4-6.22-.16-14.3,3.37-20.81a223.74,223.74,0,0,0,19.78-50c1.92-7.33,3.48-14.82,6.6-21.73,3.77-8.38,9.68-15.59,14.48-23.43,5.58-9.11,9.65-19,13.69-28.93,5.64-13.78,11.33-27.73,13.55-42.45,2.09-13.82,1.06-27.9-.3-41.81a2.64,2.64,0,0,0-3.06-3l-37.65-1.94c-7.76-.4-9.6-2.1-8.42,5.52C181.84,561.13,183.78,566.67,184.6,572.43Z" transform="translate(-113 -47.49)" fill="#3f3d56"></path><path d="M184.6,572.43c3.69,25.89-.81,52.29-7.82,77.48-1.31,4.69-2.72,9.42-5.17,13.63s-5.86,7.83-8.74,11.79c-6,8.26-9.52,18-12.81,27.64a779.65,779.65,0,0,0-22.82,81.32,5.57,5.57,0,0,0,0,3.47c.87,2,3.51,2.26,5.68,2.25l28.06-.15c1-1.92-.85-4-2-5.84-4-6.22-.16-14.3,3.37-20.81a223.74,223.74,0,0,0,19.78-50c1.92-7.33,3.48-14.82,6.6-21.73,3.77-8.38,9.68-15.59,14.48-23.43,5.58-9.11,9.65-19,13.69-28.93,5.64-13.78,11.33-27.73,13.55-42.45,2.09-13.82,1.06-27.9-.3-41.81a2.64,2.64,0,0,0-3.06-3l-37.65-1.94c-7.76-.4-9.6-2.1-8.42,5.52C181.84,561.13,183.78,566.67,184.6,572.43Z" transform="translate(-113 -47.49)" opacity="0.1"></path><path d="M192,509.48c-7.65,11-15.67,23.66-13.13,36.83,1.93,10,9.55,17.75,16.74,25,28.74,28.86,57,60.92,66.78,100.47,2.52,10.22,3.74,20.71,5.91,31,3.94,18.7,11,36.58,18,54.35l18.72,47.38a28.36,28.36,0,0,0,27.1-18c-2.46-.19-5.67-2.57-7.11-4.57-8-11.07-9.64-25.31-11.69-38.81-2.27-14.92-5.3-29.72-8.34-44.51L291.58,633.2c-1.55-7.55-3.1-15.11-5.12-22.54-7.82-28.83-22.64-56-24.93-85.81-.34-4.38-.55-9.19-3.52-12.44-3.12-3.43-8.24-4-12.87-4.27C226.41,506.9,210.25,505.07,192,509.48Z" transform="translate(-113 -47.49)" fill="#3f3d56"></path><path d="M141.47,783.62a29.86,29.86,0,0,0-6.22-.8,12.92,12.92,0,0,0-10.16,5.55,25.25,25.25,0,0,0-2.73,6l-2.71,7.78c-.8,2.28-1.58,4.91-.39,7A7.42,7.42,0,0,0,122.9,812c6.56,2.92,13.95,3.08,21.1,3.78,6.94.68,13.82,1.9,20.67,3.19,2.36.44,4.71.89,7.1,1.13,5.34.54,10.72,0,16.06-.48l5.51-.53a19.84,19.84,0,0,0,5.42-1,6.83,6.83,0,0,0,4-3.59c1.36-3.37-1.56-7.36-5.13-8-1.45-.29-2.95-.16-4.42-.35a20.88,20.88,0,0,1-4.84-1.45c-7.05-2.77-14.17-5.57-20.37-9.93-1.72-1.21-3.52-2.9-3.33-5a10.19,10.19,0,0,1,.89-2.59,9.46,9.46,0,0,0,.08-6.69c-.34-.92-1-1.89-1.93-2-2.64-.32-2.32,3.53-2.71,5-.53,2-1.49,2.18-3.37,2C152.23,784.91,146.83,784.64,141.47,783.62Z" transform="translate(-113 -47.49)" fill="#f2f2f2"></path><path d="M299.34,810.45a17.65,17.65,0,0,0,3.82,10.75,8.36,8.36,0,0,0,2.72,2.19,10.92,10.92,0,0,0,4.95.79,40.05,40.05,0,0,0,13.89-2.81,39.7,39.7,0,0,1,4.8-1.81,53.88,53.88,0,0,1,6.24-.9c8.27-1.19,15.53-6.07,23.52-8.54a49.45,49.45,0,0,0,7-2.3c3.16-1.49,5.72-4,8.23-6.43a19.89,19.89,0,0,0,3.78-4.52c1.47-2.74,1.56-6,1.62-9.1a2.59,2.59,0,0,0-.24-1.41,2.1,2.1,0,0,0-.9-.71c-2.43-1.2-5.31-.6-8-.13-9.72,1.73-19.67,1.41-29.54,1.09a4.29,4.29,0,0,1-4.54-2.59l-3.75-6c-1.07-1.72-2.77-3.69-4.71-3.1-1.55.47-2.18,2.37-2.12,4s.56,3.25.25,4.84a6.61,6.61,0,0,1-3.2,4.16,20.44,20.44,0,0,1-5,1.92c-5.52,1.56-11.94,3.33-16.21,7.39C298.86,800.15,299.15,806.6,299.34,810.45Z" transform="translate(-113 -47.49)" fill="#f2f2f2"></path><path d="M297.4,413.75a23.17,23.17,0,0,0,5.46-5.94,24.21,24.21,0,0,0,2.33-8.21l1.57-9.92c.87-5.47,1.89-11.26,5.54-15.43s10.92-5.66,14.63-1.54c1.62,1.79,2.26,4.25,2.66,6.64a48.34,48.34,0,0,1-11.82,40c-4.49,4.92-10,8.83-14.75,13.48-4.14,4-7.73,8.59-11.55,12.94A159.42,159.42,0,0,1,260,473.27c.14-7.44,1.09-15.42,0-22.81-.81-5.34-3-8.22,2.17-11.71C274.17,430.59,286.28,423.21,297.4,413.75Z" transform="translate(-113 -47.49)" fill="#fbbebe"></path><path d="M196.56,340.57c-.39,5.32-2.6,10.76-7,13.83q18.69,6.54,36.87,14.42c-2.34-2.25-3.05-5.7-3.16-8.94-.31-8.47,2.62-16.8,6.9-24.1a5.85,5.85,0,0,0,1.13-3.18c-.14-2.36-2.94-3.45-5.24-4a128.86,128.86,0,0,0-23.92-3.47c-3.45-.11-7.54-1.2-6.76,3.19C196.12,332.42,196.87,336.42,196.56,340.57Z" transform="translate(-113 -47.49)" fill="#fbbebe"></path><circle cx="107.66" cy="266.7" r="29.23" fill="#fbbebe"></circle><path d="M249.6,393.14a35.36,35.36,0,0,0-3.71-6.22c-5.3-7.61-10.74-15.21-17.54-21.51a109.19,109.19,0,0,0-16.65-12.23,37.79,37.79,0,0,0-10.42-5,40.77,40.77,0,0,0-6.69-.91l-7.59-.62a6.21,6.21,0,0,0-2,.06c-2.06.52-3,3.08-2.56,5.15s2,3.75,3.38,5.32c.34,15.49-6.55,30.77-7.48,46.24-1.63,27,14.88,52.21,16.2,79.28a8.55,8.55,0,0,1-.38,3.63c-.22.56-.55,1.07-.8,1.62-.78,1.7-.75,3.63-.89,5.5a27.94,27.94,0,0,1-8.23,17.62,12.23,12.23,0,0,0,4.64,3.54c3.19,1.39,7,1.51,10.39,2.48,8.84,2.58,17.9,5.18,27.09,4.63a23.9,23.9,0,0,0,2.09-7.87c1.3-.81,2.8.92,3,2.44s-.09,3.29,1,4.39,2.47.93,3.8.76c5.61-.71,11-2.6,16.5-3.87s11.38-1.88,16.73-.06c1.08-1.37.62-3.4-.26-4.9s-2.13-2.82-2.63-4.49a10.08,10.08,0,0,1-.32-2.95c0-8.55,1.76-17.19.09-25.58-.49-2.46-1.27-4.86-1.77-7.33-1-4.79-.85-9.73-.72-14.62s-.46-10.18-.56-15.14a48.29,48.29,0,0,0-.4-6.13c-.34-2.13-1-4.21-1.18-6.36-.54-5.46,1.66-10.88,1.33-16.36C262.51,405.33,252.84,400.81,249.6,393.14Z" transform="translate(-113 -47.49)" fill="#ff6584"></path><path d="M183.63,389.22c-7.08,18.78-10.54,38.7-14,58.48l-8,46.46c-2.27,13.13-4.55,26.34-4.46,39.66,0,3.74.24,7.55-.74,11.16-1.28,4.74-4.46,8.69-6.87,13a42.78,42.78,0,0,0-4.6,28.93c.82,4.15,3.06,8.86,7.27,9.34,3.46.38,6.45-2.37,8.47-5.21,4.64-6.51,6.94-14.37,9-22.11a500.11,500.11,0,0,0,13.87-77.09,75.06,75.06,0,0,1,1.39-9.8,69.54,69.54,0,0,1,3.38-9.76q4.59-11.38,9.19-22.76c7.07-17.53,14.18-35.14,23.89-51.36-9.6-2.76-19.59-6-29.19-8.73C189.46,388.61,186.49,389.1,183.63,389.22Z" transform="translate(-113 -47.49)" fill="#fbbebe"></path><path d="M200.27,403.46c-6.72-1.45-13.67-1-20.53-1.17a4.43,4.43,0,0,1-2.76-.72c-1.39-1.19-.8-3.42-.1-5.11l3.32-8a11.64,11.64,0,0,1,2.66-4.42c1.69-1.5,4.07-1.87,6.31-2.14,7.29-.84,14.79-1.12,21.86.85s13.72,6.45,16.88,13.08c1.32,2.76,1.93,6.24.18,8.75-2.6,3.73-8.43,7.9-12.78,5.86C210.1,408,206.11,404.73,200.27,403.46Z" transform="translate(-113 -47.49)" fill="#ff6584"></path><path d="M236,268.79a29.52,29.52,0,0,0-16.28,4.69,35.75,35.75,0,0,0-35.1-8.22A20.43,20.43,0,1,0,161,288.91,35.75,35.75,0,1,0,229.57,309a32,32,0,0,0,6.41.65c14.1,0,25.54-9.15,25.54-20.43S250.08,268.79,236,268.79Z" transform="translate(-113 -47.49)" fill="#3f3d56"></path><path d="M241.09,299.43a31.1,31.1,0,0,1-6.41-.65A35.57,35.57,0,0,1,230,309.07a32.11,32.11,0,0,0,6,.58c13.18,0,24-8,25.39-18.24C256.7,296.29,249.35,299.43,241.09,299.43Z" transform="translate(-113 -47.49)" opacity="0.1"></path><path d="M200.23,325a35.8,35.8,0,0,1-34.18-46.28,20.43,20.43,0,0,1-16.89-20.12,20.09,20.09,0,0,1,.33-3.66,20.43,20.43,0,0,0,11.46,34,35.75,35.75,0,0,0,68.29,21.18A35.68,35.68,0,0,1,200.23,325Z" transform="translate(-113 -47.49)" opacity="0.1"></path></svg>
                                                          #}    
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>