[blogPosts]
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "blog"
==
<div class="section" id="posts-section" data-type="section">

    {% set posts = blogPosts.posts.take(3)%}
    
    <div class="container"  data-type="container">
        <div class="row align-items-end" id="posts-row" data-type="row">
            <div class="col-12 col-lg-9" data-id="ppwq00" data-type="column">
                <div class="element" data-id="pxrzl4" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading pre-title pagex-lang-str">
                            Comunicaciones
                        </div>
                    </div>
                </div>
                <div class="element d-inline-flex" data-id="pyfk1g" data-type="heading">
                    <div class="element-wrap">
                        <h2 class="pagex-heading pagex-lang-str heading-bold ">Checa
                             <span style="font-weight: 300">lo último</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col  d-none d-lg-block" data-id="ppy8po" data-type="column">
                <div class="element" data-id="p7kc8g" data-type="button">
                    <div class="element-wrap">
                        <div class="pagex-button-wrapper justify-content-end">
                            <a class="pagex-button-link pagex-static-link" href="https://yumecommerce.com/kellex/blog/">
                                <div class="pagex-button button-primary">
                                    <div class="pagex-button-content pagex-lang-str ">
                                        IR AL BLOG
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="posts-wrapper"  data-type="row">
        {% for post in posts %}
        {% set firstCategory = post.categories.first() %}
            <div class="col-md-4" data-id="plqxam" data-type="column">
                <div class="element" data-id="ppmjfr" data-type="posts">
                    <div class="element-wrap">
                        <div class="pagex-posts pagex-posts-grid-layout">
                            <div class="pagex-posts-wrapper">
                                <div class="pagex-posts-item-wrapper">
                                    <div class="pagex-posts-item">
                                        <div class="section" data-id="p7zchb" data-type="section">
                                            <div class="container  container-fluid p-0" data-id="pn7dc1" data-type="container">
                                                <div class="row  no-gutters" data-id="pcojnw" data-type="row">
                                                    <div class="col" class="post-thumb" data-type="column">
                                                        <a class="pagex-custom-link-element d-none" href="https://yumecommerce.com/kellex/solutions-for-the-corporates-and-individual-customers/">
                                                        </a>
                                                        <div class="element post-thumb-img-wrapper">
                                                            <div class="pagex-image">
                                                                <a href="{{'blog-post'|page({category:firstCategory.slug, slug: post.slug})}}" class="pagex-image-link pagex-static-link">
                                                                    <img width="300" height="169" src="{{post.featured_images[0].thumb(300,150,{'mode':'crop' })}}" class="attachment-medium size-medium"
                                                                    alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="element post-date">
                                                            <div class="element-wrap">
                                                                <div class="pagex-post-data">
                                                                    <div class="pagex-post-data-item pagex-post-data-date-type">
                                                                        <div class="pagex-post-data-value">publicado: {{post.published_at|date('d-m-Y')}}</div>
                                                                    </div>
                                                                    <div class="pagex-post-data-divider"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="element pagex-post-title-wrapper">
                                                            <div class="element-wrap">
                                                                <h5 class="pagex-post-title">
                                                                    <a href="{{'blog-post'|page({category:firstCategory.slug, slug: post.slug})}}">
                                                                        {{post.title}}
                                                                    </a>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                        <div class="element post-excert-wrapper" data-id="pml8v8" data-type="post_excerpt">
                                                            
                                                            <p class="pagex-post-excerpt">{{post.excerpt}}
                                                            </p>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>

</div>