<!-- Implementation & Reliability -->
<div class="section home-section-2" data-type="section">
    <div class="pagex-bc">
        <div class="pagex-bc-wrapper">
            <div class="pagex-image-bg-ov"></div>
            <div class="pagex-svg-bg">
                <svg viewBox="0 0 1783.8 811.1" preserveAspectRatio="xMidYMin meet">
                    <path class="vbnki" d="M1741.4,54.7c0,0-472.8,259.1-23.8,756.1"></path>
                    <path class="vbnki" d="M1783.7,130.9c0,0-613.1,55.9-283.1,530.9"></path>
                    <path fill="#F3F5F9" d="M96.4,207.9C187.2,80.6,412.7-71.2,531.3,36.8c121.8,
                    111-104.4,238.9-65,354.2 c73.5,214.8-103,413.8-303.6,361.1C30.2,717.3-91.2,
                    471.2,96.4,207.9z"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="container" data-id="p1bh7f" data-type="container">
        <div class="row align-items-center justify-content-between" data-id="pdy8be"
            data-type="row">
            <div class="col-12 col-xl-5 order-xl-2" id="product-presentation-wrapper" data-type="column" >
                <div class="element section-subtitle" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading">Comprometidos contigo</div>
                    </div>
                </div>
                <div class="element title-part-1" data-type="heading">
                    <div class="element-wrap">
                        <h2 class="pagex-heading">Alta Velocidad </h2>
                    </div>
                </div>
                <div class="element title-part-2" data-type="heading">
                    <div class="element-wrap">
                        <h2 class="pagex-heading">
                            & Estabilidad  
                        </h2>
                    </div>
                </div>
                <div class="element mb-3" data-id="pv7jak" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading pagex-lang-str">
                            Somos especialistas en el área de Telecomunicaciones. Nuestra meta es brindar el mejor servicio de Internet Empresarial Inalámbrico Dedicado
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-12  d-lg-flex col-xl-7 cards-group" data-type="column">
                <div class="element features-col features-single" data-type="features" data-parallax="{&quot;y&quot;:-200,&quot;smoothness&quot;:35}"
                    style="transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);">
                    <div class="element-wrap">
                        <div class="pagex-features">
                            <div
                                class="pagex-features-items pagex-features-position-top">
                                <div class="pagex-feature-item-wrapper">
                                    <div class="pagex-feature-item">
                                        
                                        <div
                                            class="pagex-feature-item-icon-wrapper">
                                            <div class="pagex-feature-item-icon">
                                                <img src="http://megadatta.dictya.com/storage/app/media/soporte.gif" alt="">
                                            
                                            </div>
                                        </div>
                                        <div
                                            class="pagex-feature-item-title-wrapper">
                                            <h4
                                                class="pagex-feature-item-title text-center">
                                                Soporte</h4>
                                        </div>
                                        <div class="pagex-feature-item-description">
                                            Atención preferencial 24/7 a nuestros
                                            clientes, garantía de funcionamiento.
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="element features-col" data-type="features"
                    data-parallax="{&quot;y&quot;:-100,&quot;smoothness&quot;:35}"
                    style="transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);">
                    <div class="element-wrap">
                        <div class="pagex-features">
                            <div
                                class="pagex-features-items pagex-features-position-top">
                                <div class="pagex-feature-item-wrapper">
                                    <div class="pagex-feature-item">
                                        <div
                                            class="pagex-feature-item-icon-wrapper">
                                            <div class="pagex-feature-item-icon">
                                                <img src="http://megadatta.dictya.com/storage/app/media/estabilidad.gif" alt="">
                                                
                                            </div>
                                        </div>
                                        <div
                                            class="pagex-feature-item-title-wrapper">
                                            <h4
                                                class="pagex-feature-item-title text-center">
                                                Estabilidad</h4>
                                        </div>
                                        <div class="pagex-feature-item-description">
                                            Garantizamos una plena estabilidad en nuestros servicios.
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="pagex-feature-item-wrapper">
                                    <div class="pagex-feature-item">
                                        <div
                                            class="pagex-feature-item-icon-wrapper">
                                            <div class="pagex-feature-item-icon">
                                                <p class="text-center"><img src="http://megadatta.dictya.com/storage/app/media/alcance.gif" alt=""></p>
                                                
                                                
                                            </div>
                                        </div>
                                        <div
                                            class="pagex-feature-item-title-wrapper">
                                            <h4
                                                class="pagex-feature-item-title text-center">
                                                Alcance</h4>
                                        </div>
                                        <div
                                            class="pagex-feature-item-description">
                                            Cubrimos toda la Zona Norte de la gran
                                            ciudad de Valencia y sus alrededores.
                                        </div>
                                        {#
                                        <a
                                            class="button pagex-feature-item-link"
                                            href="https://yumecommerce.com/kellex/#"><svg
                                                class="pagex-icon"
                                                viewBox="0 0 320 198.5">
                                                <path fill="currentColor"
                                                    d="M13.9,85.4h258.9l-61.8-61.8c-5.4-5.4-5.4-14.2,0-19.6c5.4-5.4,14.2-5.4,19.6,0l85.4,85.4c5.4,5.4,5.4,14.2,0,19.6 	l-85.4,85.4c-2.7,2.7-6.2,4.1-9.8,4.1c-3.5,0-7.1-1.4-9.8-4.1c-5.4-5.4-5.4-14.2,0-19.6l61.8-61.8H13.9C6.2,113.1,0,106.9,0,99.3 	C0,91.6,6.2,85.4,13.9,85.4L13.9,85.4z">
                                                </path>
                                            </svg></a>
                                        #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>