==
<div class="section home-section-3" data-type="section">

    <div class="pagex-bc">
        <div class="pagex-bc-wrapper" 
        data-parallax="{&quot;y&quot;:100,&quot;smoothness&quot;:35}"
        style="transform:translate3d(0px, 100px, 0px) rotateX(0deg) rotateY(0deg)
        rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);">
            <div class="pagex-image-bg-ov"></div>
            <div class="pagex-svg-bg">
                <svg viewBox="0 0 1764.2 1108.9">
                    <linearGradient id="bnjjju" gradientUnits="userSpaceOnUse"
                     x1="1398.2135" y1="-267.6275" x2="1398.2135" y2="727.7286"
                     gradientTransform="matrix(1 0 0 -1 0 841.2434)">
                        <stop offset="0" style="stop-color:#CE7132"></stop>
                        <stop offset="1" style="stop-color:#CE5132"></stop>
                    </linearGradient>
                    <path class="ghweyu" d="M1637.1,176.2c-185.9-185.9-604.9,85.5-604.9,249.1c0,123.2,219.3,128.9,243,337.2
                    	c34,299,178.2,376.1,280.7,337C1763.9,1020.1,1858.8,397.9,1637.1,176.2z">
                    </path>
                    <path class="ghweyw" d="M248,1094.5c0,0,714.8-639.5-247.7-1094"></path>
                    <path class="ghweyw" d="M352.2,772.2c0,0,531.5-474.5-67.2-763.6"></path>
                </svg>
            </div>
        </div>
    </div>
    
    <div class="container" data-type="container">
        <div class="row align-items-center" data-type="row">
            <div class="col-12 col-lg-5" data-type="column">
                <div class="element section-subtitle" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading">Elige tu plan
                        </div>
                    </div>
                </div>
                <div class="element title-part-1" data-type="heading">
                    <div class="element-wrap">
                        <h2 class="pagex-heading">Planes dedicados</h2>
                    </div>
                </div>
                <div class="element title-part-2" data-type="heading">
                    <div class="element-wrap">
                        <h2 class="pagex-heading">&amp; Empresariales
                        </h2>
                    </div>
                </div>
                <div class="element section-text" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading">Elige el plan que
                            mejor se adapte a tus necesidades
                        </div>
                    </div>
                </div>

                <div class="element d-inline-flex" data-type="button">
                    <div class="element-wrap">
                        <div class="pagex-button-wrapper">
                            <a class="pagex-button-link pagex-static-link"
                                href="{{'plan-list'|page}}">
                                <div class="pagex-button button-primary">
                                    <div class="pagex-button-content">
                                        VER TODOS
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg col-md col-12 card-plan best-choice" data-type="column">
                <div class="plan-subtitle">
                    <div class="pagex-heading">Recomendado Megadatta</div>
                </div>
                <div class="element d-inline-flex plan-price">
                    <h4 class="pagex-heading">99.<sup>99</sup></h4>
                </div>

                <div class="element d-inline-flex plan-price-by">
                    <div class="pagex-heading">Mensual</div>
                </div>
                <div class="element plan-title" data-type="heading">
                    <h4 class="pagex-heading">Simétrico desde 2MB
                    </h4>
                </div>

                <div class="pagex-list pagex-list-align d-flex flex-wrap mt-4 mb-5">
                    <div class="pagex-list-item pagex-list-align">
                        <div class="pagex-list-item-icon">
                            <svg class="svg-inline--fa fa-circle pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
                        </div>
                        <div class="pagex-list-item-title">
                            Velocidad Simétrica
                        </div>
                    </div>
                    <div class="pagex-list-item pagex-list-align">
                        <div class="pagex-list-item-icon">
                            <svg class="svg-inline--fa fa-circle pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
                        </div>
                        <div class="pagex-list-item-title">
                            IP pública verificada
                        </div>
                    </div>
                    <div class="pagex-list-item pagex-list-align">
                        <div class="pagex-list-item-icon">
                            <svg class="svg-inline--fa fa-circle pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
                        </div>
                        <div class="pagex-list-item-title">
                            Soporte 24/7
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col col-md-5 col-lg-3 card-plan standar-choice">
                <div class="plan-subtitle">
                    <div class="pagex-heading">+ solicitado</div>
                </div>
                <div class="element d-inline-flex plan-price">
                    <h4 class="pagex-heading">24.<sup>99</sup>
                    </h4>
                </div>
                <div class="element d-inline-flex plan-price-by">
                    <div class="pagex-heading">Mensual</div>
                </div>
                <div class="element plan-title">
                    <h5 class="pagex-heading">Plan Asimétrico</h5>
                </div>

                <div class="pagex-list pagex-list-align d-flex flex-wrap my-4">
                    <div class="pagex-list-item pagex-list-align">
                        <div class="pagex-list-item-icon">
                            <svg class="svg-inline--fa fa-circle pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
                            </svg>
                        </div>
                        <div class="pagex-list-item-title">
                            Precio por cada MB
                        </div>
                    </div>
                    <div class="pagex-list-item pagex-list-align">
                        <div class="pagex-list-item-icon">
                            <svg class="svg-inline--fa fa-circle pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
                            </svg>
                        </div>
                        <div class="pagex-list-item-title">
                            Acceso a internet NAT
                        </div>
                    </div>

                    <div class="pagex-list-item pagex-list-align">
                        <div class="pagex-list-item-icon">
                            <svg class="svg-inline--fa fa-circle pagex-icon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
                            </svg>
                        </div>
                        <div class="pagex-list-item-title">
                            Soporte 24/71
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>