{% partial 'home/svg/clients' %}

    <div class="container" data-type="container">
        <div class="row"  id="our-clients-row" data-type="row">
            <div class="col-12 col-lg-6" data-id="pucxb5" data-type="column">
                <div class="element" data-id="pcu28g" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading pre-title pagex-lang-str">
                            ¿Quienes usan Megadatta?
                        </div>
                    </div>
                </div>
                <div class="element d-inline-flex" data-type="heading">
                    <div class="element-wrap">
                        <h2 class="pagex-heading pagex-lang-str heading-bold">Nuestros Aliados confían</h2>
                    </div>
                </div>
                <div class="element" data-id="pul00f" data-type="heading">
                    <div class="element-wrap">
                        <h2 class="pagex-heading pagex-lang-str page-heading-small">Y recomiendan nuestro servicio</h2>
                    </div>
                </div>
                <div class="element" data-id="p1f3ba" data-type="heading">
                    <div class="element-wrap">
                        <div class="pagex-heading pagex-lang-str page-secton-text">
                            Grandes marcas mantienen la excelencia de sus operaciones
                            gracias a que siempre estan conectados.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" data-id="pucopp" data-type="column">
                <div class="element" data-id="p4e4od" data-type="image">
                    <div class="element-wrap">
                        <div class="pagex-image">
                            <img width="640" height="253"  src="http://megadatta.dictya.com/storage/app/media/logos-02.jpg"
                            class="attachment-large size-large" alt="" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>