[testimonials]
==
{% set testimonials = testimonials.testimonials %}	
{% set viewAll = testimonials.viewAll %}
	

<div class="section" id="testimonial-section" data-id="pcf18t" data-type="section">
    <div class="container" data-id="prp5k8" data-type="container">
        <div class="row  justify-content-center" data-id="paeqyc" data-type="row">
            <div class="col-auto testimonial-column" id="testimonial-column" data-id="pa4ctq" data-type="column">
                <div class="element" id="testimonial-slider" data-id="pg027c" data-type="slider">
                    <div class="element-wrap" data-slider="{&quot;mode&quot;:&quot;horizontal&quot;,&quot;loop&quot;:false,&quot;effect&quot;:&quot;slide&quot;,&quot;autoHeight&quot;:false,&quot;centeredSlides&quot;:false,&quot;speed&quot;:500,&quot;spaceBetween&quot;:0,&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;breakpoints&quot;:{}}">
                        <div class="pagex-slider">
                            <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                
                                    {% for testimonial in testimonials %}
                                    <div class="swiper-slide pagex-inner-row-holder swiper-slide-active" style="width: 870px;">
                                        <div class="row inner-row" data-id="p9e1mt" data-type="inner-row">
                                            <div class="col" data-id="pojhw5" data-type="column">
                                                <div class="element testimonial-image" data-id="peostg" id="testimonial-image" data-type="image">
                                                    <div class="element-wrap">
                                                        <div class="pagex-image">
                                                            <img width="150" height="150" src="{{ testimonial.featured_image.path }}" class="attachment-thumbnail size-thumbnail" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="element testimonial-heading " data-id="pq0hy8" id="testimonial-heading" data-type="heading">
                                                    <div class="element-wrap">
                                                        <div class="pagex-heading pagex-lang-str">{{ testimonial.name }} - {{ testimonial.title }}</div>
                                                    </div>
                                                </div>
                                                <div class="element testimonial-body" id="testimonial-body" data-id="p5xn7x" data-type="heading">
                                                    <div class="element-wrap">
                                                        <div class="pagex-heading text-center pagex-lang-str">
                                                            {{ testimonial.content|raw }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                    {#
                                    <div class="swiper-slide pagex-inner-row-holder swiper-slide-active" style="width: 870px;">
                                        <div class="row inner-row" data-id="p9e1mt" data-type="inner-row">
                                            <div class="col" data-id="pojhw5" data-type="column">
                                                <div class="element testimonial-image" data-id="peostg" id="testimonial-image" data-type="image">
                                                    <div class="element-wrap">
                                                        <div class="pagex-image">
                                                            <img width="150" height="150" src="https://yumecommerce.com/kellex/wp-content/uploads/2019/04/f2-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" 
                                                                >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="element testimonial-heading " data-id="pq0hy8" id="testimonial-heading" data-type="heading">
                                                    <div class="element-wrap">
                                                        <div class="pagex-heading pagex-lang-str">John Doe - CEO Service Inc</div>
                                                    </div>
                                                </div>
                                                <div class="element testimonial-body" id="testimonial-body" data-id="p5xn7x" data-type="heading">
                                                    <div class="element-wrap">
                                                        <div class="pagex-heading text-center pagex-lang-str">
                                                            It is the greatest agency I've ever work with. 
                                                            From the intuitive, easy user interface to the 
                                                            powerful services to do it. We build and activate
                                                            brands through cultural insight, strategic vision,
                                                            and the power of emotion across every element of
                                                            its expression.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    #}
                                    
                                    
                                </div>
                                <div class="swiper-pagination pagex-slider-pagination swiper-pagination-clickable swiper-pagination-bullets">
                                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                                    <span class="swiper-pagination-bullet"></span>
                                </div>
                            </div>
                            <div class="swiper-button-prev pagex-slider-navigation swiper-button-disabled">
                                <svg class="pagex-icon">
                                    <use xlink:href="#pagex-long-arrow-left-icon"></use>
                                </svg>
                            </div>
                            <div class="swiper-button-next pagex-slider-navigation">
                                <svg class="pagex-icon">
                                    <use xlink:href="#pagex-long-arrow-right-icon"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" data-id="pshzaq" data-type="column">

            </div>
        </div>
    </div>
</div>